<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <base href="../">

  <title>Vvveb - Signup</title>

  <link id="blog-default-css" href="css/style.css" rel="stylesheet">
  <link id="fonts-css" href="css/fonts.css" rel="stylesheet" media="screen">
  <link id="vvvebjs-css" href="css/custom.css" rel="stylesheet" media="screen">

  <link rel="sitemap" type="application/xml" title="Sitemap" href="/feed/index">
  <link rel="alternate" type="application/rss+xml" title="Feed" href="/feed/posts" />
  <link rel="alternate" type="application/rss+xml" title="Comments Feed" href="/feed/comments" />
  <link rel="alternate" type="application/rss+xml" title="Products" href="/feed/products" />

  <link rel="icon" type="image/x-icon" href="media/favicon.ico" data-v-global-site.favicon>

  <link rel="manifest" href="/manifest.webmanifest">

  <link rel="alternate" hreflang="" href="" />

  <link rel="stylesheet" href="js/aos.css">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
</head>



<body class="signup">

  <header id="main-header" data-v-save-global="index.html,#main-header">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg p-4">

        <div class="d-flex justify-content-between w-100" data-v-component-site>
          <!-- hidden spacer to center brand on mobile -->
          <span class="d-lg-none d-block">
          </span>

          <div>
            <a class="navbar-brand d-lg-inline-block pb-0" href="index.html" data-url data-v-url-params='{"host":"www.*.*"}'>
              <img src="img/logo.png" class="logo-default" data-v-site-logo>
              <img src="img/logo.png" class="logo-sticky" data-v-site-logo-sticky>
              <img src="img/logo-white.png" class="logo-default-dark" data-v-site-logo-dark>
              <img src="img/logo-white.png" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky>

              <span data-v-site-description-title>Vvveb Blog</span>
            </a>
            <small class="d-block text-muted" data-v-site-description-description>minimal blog template</small>
          </div>

          <div class="text-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>


        <div class="collapse navbar-collapse flex-grow-1 text-end" id="navbar" data-v-component-menu="header" data-v-slug="main-menu">
          <ul class="navbar-nav ms-auto flex-nowrap" data-v-menu-items>
            <li class="nav-item dropdown position-static" data-v-menu-item data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text">

              <a class="nav-link dropdown-toggle" href="#" data-v-class-if-dropdown-toggle="category.children > 0" data-v-class-if-active="category.active" aria-expanded="false" data-v-menu-item-url>
                <span data-v-menu-item-name data-v-if-not="category.type = 'text'"></span>
                <span data-v-menu-item-content>
                  <p>
                    <img src="/media/vvveb.svg" height="24" alt="" class="me-2">Mega menu
                  </p>
                </span>
              </a>

              <div class="dropdown-menu" data-v-menu-item-recursive>
                <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" data-v-class-if-active="category.active" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                    <span data-v-menu-item-name data-v-if-not="category.type = 'text'"></span>
                    <span data-v-menu-item-content>
                      <div class="row">
                        <div class="col-6 align-self-center">
                          <img src="img/demo/video-1.jpg" alt="Post" width="250" loading="lazy" class="rounded img-fluid">
                        </div>
                        <div class="col-6">
                          <h4>Features</h4>
                          <p class="text-muted">Just a few mentions, but there is more</p>
                          <ul class="list-unstyled">
                            <li class="text-primary">Page builder</li>
                            <li class="text-primary">Mega menu</li>
                            <li class="text-primary">Multi language</li>
                            <li class="text-primary">Advanced SEO</li>
                            <li class="text-primary">Ecommerce</li>
                          </ul>
                        </div>
                      </div>
                    </span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-class-if-active="category.active" data-v-menu-item-url>
                    <span data-v-menu-item-name data-v-if-not="category.type = 'text'">Developer Documentation</span>
                    <span data-v-menu-item-content></span>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown position-static" data-v-menu-item data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text">

              <a class="nav-link" href="https://themes.vvveb.com" data-v-if="category.children <= 0" data-v-menu-item-url>
                <span data-v-menu-item-name>Pages</span>
              </a>

              <a class="nav-link dropdown-toggle" href="#" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-expanded="false" data-v-menu-item-url>
                <span data-v-menu-item-name>Pages</span>
              </a>

              <div class="dropdown-menu" data-v-menu-item-recursive>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="index-no-sidebar.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Blog no sidebar</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/index.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Blog with sidebar</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/index-excerpts.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Blog with excerpts</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/post-image-header.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Post image header</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/post-image-hero.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Post image hero</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/post.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Post</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/page.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Page</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/archive.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Archive</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/tag.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Tag</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/category.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Category</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/user.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>User</span>
                  </a>
                </div>
              </div>
            </li>

            <li class="nav-item" data-v-menu-item>
              <a class="nav-link" href="content/index.html" data-v-menu-item-url>
                <span data-v-menu-item-name>Blog</span>
              </a>
            </li>
            <li class="nav-item" data-v-menu-item>
              <a class="nav-link" href="contact.html" data-v-menu-item-url>
                <span data-v-menu-item-name>Contact</span>
              </a>
            </li>
            <li class="nav-item dropdown has-dropdown" data-v-menu-item>

              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" data-v-menu-item-url>
                <span data-v-menu-item-name>Resources</span>
              </a>

              <div class="dropdown-menu" data-v-menu-item-recursive>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                    <span data-v-menu-item-name>User Documentation</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                    <span data-v-menu-item-name>Developer Documentation</span>
                  </a>
                </div>
              </div>

            </li>
            <li class="nav-item" data-v-menu-item>
              <a class="nav-link" href="content/page.html" data-v-menu-item-url>
                <span data-v-menu-item-name>About us</span>
              </a>
            </li>
            <li class="nav-item ms-3">
              <a id="color-theme-switch" class="nav-link" href="#" role="button" title="Switch sidebar color theme">
                <i class="la la-sun la-lg"></i>
              </a>
            </li>
            <li>
              <div class="dropdown nav-item">
                <a class="dropdown-toggle nav-link " href role="button" id="user-dropdown" data-bs-toggle="dropdown" aria-expanded="false" data-v-url="user/index">
                  <i class="la la-lg la-user"></i>
                  <span class="visually-hidden">User</span>
                </a>

                <div class="dropdown-menu dropdown-menu-end login-box user-box p-4" aria-labelledby="user-dropdown">

                  <div data-v-component-user>

                    <div class="notifications" data-v-notifications>

                      <div class="alert alert-danger d-flex alert-dismissable" role="alert" data-v-notification-error data-v-type="login">

                        <div class="icon align-middle me-2">
                          <i class="align-middle la la-2x lh-1 la-exclamation-triangle"></i>
                        </div>

                        <div class="flex-grow-1 align-self-center text-small">
                          <div>
                            <div data-v-notification-text>
                              This is a placeholder for a notification message.
                            </div>
                          </div>
                        </div>


                        <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">
                          </span>
                        </button>
                      </div>

                      <div class="alert alert-success d-flex  alert-dismissable d-flex" role="alert" data-v-notification-success data-v-type="login">

                        <div class="icon align-middle me-2">
                          <i class="align-middle la la-2x lh-1 la-check-circle"></i>
                        </div>

                        <div class="flex-grow-1 align-self-center align-middle" data-v-notification-text>
                          This is a placeholder for a success message.
                        </div>

                        <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">
                          </span>
                        </button>
                      </div>

                      <div class="alert alert-primary d-flex alert-dismissable d-flex" role="alert" data-v-notification-info data-v-type="login">

                        <div class="icon align-middle me-2">
                          <i class="align-middle la la-2x lh-1  la-info-circle"></i>
                        </div>

                        <div class="flex-grow-1 align-self-center" data-v-notification-text>
                          This is a placeholder for a info message.
                        </div>

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">
                          </span>
                        </button>
                      </div>

                    </div>


                    <form action method="post" enctype="multipart/form-data" data-v-url="user/login" data-v-vvveb-action="login" data-v-vvveb-on="submit" class="login-form">

                      <input type="hidden" name="csrf" data-v-csrf>

                      <div class="login-form" data-v-if-not="component.user_id">

                        <div class="mb-3">
                          <label class="form-label" for="input-email">E-Mail Address</label>
                          <input type="email" name="email" value placeholder="E-Mail Address" id="user-email" class="form-control" data-v-user-email required>
                        </div>

                        <div class="mb-3">
                          <label class="form-label" for="input-password">Password</label>

                          <div class="input-group">
                            <input type="password" minlength="4" autocorrect="off" autocomplete="current-password" class="form-control" placeholder="Password" id="user-password" name="password" value="" aria-label="Password" required>
                            <div class="input-group-append">
                              <button class="btn px-3 border border-start-0" type="button" onclick="togglePasswordInput(this, 'user-password')">
                                <i class="la la-eye-slash"></i>
                              </button>
                            </div>
                          </div>
                        </div>

                        <button type="submit" value="Login" class="btn btn-primary btn-login w-100">

                          <span class="loading d-none">
                            <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                            </span>
                            <span>Authenticating</span>...
                          </span>

                          <span class="button-text">
                            Login <i class="la la-arrow-right float-end ms-2"></i>
                          </span>

                        </button>
                        <div class="my-2"></div>
                        <a href="/user/reset" data-v-url="user/reset/index" class="my-2">Forgotten Password</a>

                        <div class="my-2"></div>

                        <hr>
                        <span>Don’t have an account?</span>
                        <br>
                        <a href="/user/signup" data-v-url="user/signup/index">Register Account</a>
                        <span class="text-body-tertiary">|</span>
                        <a href="/user/login" data-v-url="user/login/index">Login</a>

                      </div>


                      <div class="user-form" data-v-if="component.user_id">
                        <div class="text-center">Welcome <b data-v-user-first_name data-filter-capitalize>John</b>
                          <b data-v-user-last_name data-filter-capitalize>Doe</b>
                        </div>

                        <div class="dropdown-divider opacity-50 my-3"></div>

                        <ul class="m-3 list-unstyled">
                          <li>
                            <a href="user" data-v-url="user/index">
                              <i class="la la-user la-lg text-muted m-1"></i>
                              <span>My account</span>
                            </a>
                          </li>
                          <li>
                            <a href="user/comments" data-v-url="user/comments/index">
                              <i class="la la-comment la-lg text-muted m-1"></i>
                              <span>Comments</span>
                            </a>
                          </li>
                          <li>
                            <a href="user/orders" data-v-url="user/orders/index">
                              <i class="la la-shopping-bag la-lg text-muted m-1"></i>
                              <span>Orders</span>
                            </a>
                          </li>
                          <li>
                            <a href="user/downloads" data-v-url="user/downloads/index">
                              <i class="la la-hand-holding-heart la-lg text-muted m-1"></i>
                              <span>Downloads</span>
                            </a>
                          </li>
                          <li>
                            <a href="user/wishlist" data-v-url="user/wishlist/index">
                              <i class="la la-download la-lg text-muted m-1"></i>
                              <span>Wishlist</span>
                            </a>
                          </li>
                          <li>
                            <a href="user/profile" data-v-url="user/profile/index">
                              <i class="la la-cogs la-lg text-muted m-1"></i>
                              <span>Profile</span>
                            </a>
                          </li>
                        </ul>


                        <input type="hidden" name="logout">

                        <button type="submit" value="logout" class="btn btn-sm btn-primary w-100">

                          <span class="loading d-none">
                            <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                            </span>
                            <span>Loading ...</span>...
                          </span>

                          <span class="button-text">
                            <i class="la la-sign-out-alt la-lg m-1"></i>
                            <span>Log out</span>
                            </a>
                          </span>

                        </button>
                      </div>
                    </form>


                  </div>
                </div>
              </div>

            </li>
          </ul>


          <button class="btn btn-outline-secondary border-0" type="submit" title="Search" data-bs-toggle="modal" data-bs-target="#searchModal">
            <div class="la-flip-horizontal">
              <i class="la la-search la-lg" aria-hidden="true"></i>
            </div>
          </button>

        </div>



      </nav>
    </div>

  </header>


  <main id="site-content" role="main">


    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">

          <div class="row">

            <div class="col-lg-8 col-xl-7 mx-auto">

              <div class="card card-default my-4">

                <div class="card-header bg-body">
                  <h1 class="mb-1 h2 fw-bold">Sign up</h1>
                  <p class="text-muted">Welcome! Enter your data to create an account.</p>

                  <div class="notifications" data-v-notifications>

                    <div class="alert alert-danger d-flex alert-dismissable" role="alert" data-v-notification-error data-v-type="login">

                      <div class="icon align-middle me-2">
                        <i class="align-middle la la-2x lh-1 la-exclamation-triangle"></i>
                      </div>

                      <div class="flex-grow-1 align-self-center text-small">
                        <div>
                          <div data-v-notification-text>
                            This is a placeholder for a notification message.
                          </div>
                        </div>
                      </div>


                      <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                        </span>
                      </button>
                    </div>

                    <div class="alert alert-success d-flex  alert-dismissable d-flex" role="alert" data-v-notification-success data-v-type="login">

                      <div class="icon align-middle me-2">
                        <i class="align-middle la la-2x lh-1 la-check-circle"></i>
                      </div>

                      <div class="flex-grow-1 align-self-center align-middle" data-v-notification-text>
                        This is a placeholder for a success message.
                      </div>

                      <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                        </span>
                      </button>
                    </div>

                    <div class="alert alert-primary d-flex alert-dismissable d-flex" role="alert" data-v-notification-info data-v-type="login">

                      <div class="icon align-middle me-2">
                        <i class="align-middle la la-2x lh-1  la-info-circle"></i>
                      </div>

                      <div class="flex-grow-1 align-self-center" data-v-notification-text>
                        This is a placeholder for a info message.
                      </div>

                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                        </span>
                      </button>
                    </div>

                  </div>


                </div>


                <div class="card-body">


                  <form action="" method="post" enctype="multipart/form-data" id="signup-form">
                    <input type="hidden" name="csrf" data-v-csrf>

                    <!--	
									<div class="mb-3 input-group">
										<span class="input-group-text bg-body"> <i class="la la-user"></i> </span>
										<input name="login" class="form-control border-start-0" placeholder="Username" type="text" required>
										
									</div> 
									-->

                    <label class="form-label" for="username">Username</label>
                    <div class="mb-3 input-group">
                      <span class="input-group-text bg-body">
                        <i class="la la-user"></i>
                      </span>
                      <input name="username" id="username" class="form-control border-start-0 border-start-0" placeholder="Username" type="text" required>
                    </div>
                    <!--
									<label class="form-label" for="first-name">First name</label>
									<div class="mb-3 input-group">
										<span class="input-group-text bg-body"> <i class="la la-user"></i> </span>
										<input name="first_name" id="first-name" class="form-control border-start-0 border-start-0" placeholder="First Name" type="text" required>
									</div>

									<label class="form-label" for="last-name">Last name</label>
									<div class="mb-3 input-group">
										<span class="input-group-text bg-body"> <i class="la la-user"></i> </span>
										<input name="last_name" id="last-name" class="form-control border-start-0 border-start-0" placeholder="Last Name" type="text" required>
									</div>
-->
                    <label class="form-label" for="email">Email address</label>
                    <div class="mb-3 input-group">
                      <span class="input-group-text bg-body">
                        <i class="la la-envelope"></i>
                      </span>
                      <input name="email" id="email" class="form-control border-start-0 border-start-0" placeholder="Email address" type="email" required>
                    </div>

                    <label class="form-label" for="password">Password</label>
                    <div class="mb-3 input-group">
                      <span class="input-group-text bg-body">
                        <i class="la la-lock"></i>
                      </span>
                      <input type="password" minlength="6" autocorrect="off" class="form-control border-start-0 border-start-0" placeholder="Password" id="password" name="password" autocomplete="new-password" value="" aria-label="Password" required>
                      <button class="btn px-3 border border-start-0" type="button" onclick="togglePasswordInput(this, 'password')">
                        <i class="la la-eye-slash"></i>
                      </button>
                    </div>

                    <label class="form-label" for="new-password">Repeat password</label>
                    <div class="mb-3 input-group">
                      <span class="input-group-text bg-body">
                        <i class="la la-lock"></i>
                      </span>
                      <input type="password" minlength="6" autocorrect="off" autocomplete="new-password" class="form-control border-start-0 border-start-0" placeholder="Repeat password" id="confirm_password" name="confirm_password" value="" aria-label="Repeat Password" required>
                      <button class="btn px-3 border border-start-0" type="button" onclick="togglePasswordInput(this, 'confirm_password')">
                        <i class="la la-eye-slash"></i>
                      </button>
                    </div>

                    <!-- if these hidden inputs are filled then ignore, robots -->

                    <input type="text" class="form-control d-none" placeholder="Contact form" name="contact-form">

                    <input type="text" class="form-control d-none" placeholder="Subject" name="subject-empty">

                    <input type="text" class="form-control visually-hidden" placeholder="Last name" name="lastname-empty" tabindex="-1">


                    <div class="mb-3">
                      <div class="form-check mb-1">
                        <input type="checkbox" class="form-check-input" id="terms" name="terms" required>
                        <label class="form-check-label" for="terms">
                          </span>I agree to</span>
                          <a href="page/terms-conditions" target="_blank" data-v-url="content/page/index" data-v-url-params='{"slug":"terms-conditions"}'>Terms and conditions</a>
                        </label>
                      </div>
                    </div>

                    <div class="mb-3">
                      <button type="submit" class="btn btn-primary w-100 btn-signup btn-lg my-3">Create Account</button>
                    </div>

                    <div class="text-center">Have an account? <a href="" data-v-url="user/login/index">Log In</a>
                    </div>
                  </form>


                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </main>
  <footer class="site-footer" data-v-save-global="index.html,.site-footer">
    <div class="container" data-v-component-menu="footer" data-v-menu_id="5">

      <div class="row" data-v-menu-items>

        <div class="col-md">

          <div data-v-component-site>
            <img src="img/logo-white.png" class="logo-default-dark" data-v-site-logo-dark>
            <img src="img/logo.png" class="logo-default" data-v-site-logo>
          </div>

        </div>


        <div class="col-md" data-v-menu-item data-v-if="category.children > 0">
          <h6 data-v-menu-item-name>Vvveb</h6>
          <nav data-v-menu-item-recursive>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://themes.vvveb.com/" data-v-menu-item-url>
                <span data-v-menu-item-name>Themes</span>
              </a>
            </div>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://plugins.vvveb.com/" data-v-menu-item-url>
                <span data-v-menu-item-name>Plugins</span>
              </a>
            </div>
          </nav>
        </div>

        <div class="col-md" data-v-menu-item data-v-if="category.children > 0">
          <h6 data-v-menu-item-name>Resources</h6>
          <nav data-v-menu-item-recursive>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                <span data-v-menu-item-name>User documentation</span>
              </a>
            </div>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                <span data-v-menu-item-name>Developer documentation</span>
              </a>
            </div>
          </nav>
        </div>

        <div class="col-md" data-v-menu-item data-v-if="category.children > 0">
          <h6 data-v-menu-item-name>Contact</h6>
          <nav data-v-menu-item-recursive>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="" href="contact.html">Contact</a>
            </div>
          </nav>
        </div>



      </div>
      <!--
		<div class="row justify-content-end">
			<div class="col-md-3 text-muted text-small mt-5">
				&copy; <span data-v-year>2025</span> <span data-v-sitename>Vvveb</span>. Powered by <a href="https://vvveb.com" target="_blank">Vvveb</a>	
			</div>
		</div>
		-->

    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="d-flex flex-column flex-md-row">
          <div class="text-muted flex-grow-1">
            <a class="btn-link text-muted" href="content/page.html">Terms and conditions</a> |
            <a class="btn-link text-muted" href="content/page.html">Privacy Policy</a>
          </div>
          <div class="text-muted">
            &copy; <span data-v-year>2025</span>
            <span data-v-global-site.description.title>Vvveb</span>. <span>Powered by</span>
            <a href="https://vvveb.com" class="btn-link text-muted" target="_blank">Vvveb</a>
          </div>
        </div>
      </div>
    </div>

  </footer>


  <div class="bg-image"></div>

  <div class="alert alert-light alert-dismissible fade alert-top" role="alert" style="display:none">
    <div class="container">

      <div class="message">
        Product was added to cart.
      </div>


      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body" style="--bs-modal-padding: 0.7rem;">

          <form action="/search" method="get">
            <input type="hidden" name="route" value="search">
            <div class="d-flex">
              <div class="input-group">
                <input type="search" name="search" class="form-control form-control-lg border-primary border-2" id="headerSearch" placeholder="Start typing to search" data-v-vvveb-action="search" data-selector=".search-results" data-v-vvveb-on="keyup">
                <button class="btn btn-outline-primary border-2 border-start-0" type="submit" title="Search">
                  <div class="la-flip-horizontal">
                    <i class="la la-search la-lg" aria-hidden="true"></i>
                  </div>
                </button>
              </div>
              <button type="button" class="btn-close small ms-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="loading d-none d-flex justify-content-center m-5">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </form>

          <div class="search-results">
          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="page-loading-status" class="progress progress-bar"></div>

  <!-- Vvveb Common Js -->
  <script id="popper-js" src="js/popper.min.js"></script>
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <!-- <script src="js/bootstrap.bundle.min.js"></script> -->
  <script id="bootstrap-js" src="js/bootstrap.min.js"></script>
  <!-- Vvveb Ajax Common Js -->
  <script id="app-js" src="/js/app.js"></script>

  <!-- Animation -->

  <link rel="stylesheet" href="js/aos.css">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>

  <script src="js/aos.js"></script>
  <script>
	AOS.init();
</script>
  <script src="/js/app/cart.js"></script>

  <link id="glightbox-css" rel="stylesheet" href="/js/libs/glightbox/glightbox.css">
  <script id="glightbox-js" src="/js/libs/glightbox/glightbox.min.js"></script>

  <script src="/js/app/theme.js"></script>

  <script type="speculationrules">
{"prefetch":[{"source":"document","where":{"and":[{"href_matches":"\/*"},{"not":{"href_matches":["\/public\/*","\/themes\/*","\/plugins\/*","\/cart\/*","\/checkout\/*","\/user\/*","\/*\\?(.+)"]}},{"not":{"selector_matches":"a[rel~=\"nofollow\"]"}},{"not":{"selector_matches":".no-prefetch, .no-prefetch a"}}]},"eagerness":"conservative"}]}
</script>


</body>

</html>