/*
 * Style common for all sections
 */
body > section, body > footer, body > header {
  position: relative;
  /*
		&.overlay {
			position: relative;
			
			
			&:before {
				z-index: 1;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				content: "";
				background: rgba(var(--bs-body-color-rgb), 0.4);
			}
		}*/ }
  body > section .background-container, body > section .overlay, body > footer .background-container, body > footer .overlay, body > header .background-container, body > header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    body > section .background-container img, body > section .background-container video, body > section .overlay img, body > section .overlay video, body > footer .background-container img, body > footer .background-container video, body > footer .overlay img, body > footer .overlay video, body > header .background-container img, body > header .background-container video, body > header .overlay img, body > header .overlay video {
      width: auto;
      height: auto;
      top: 0;
      left: 0;
      max-width: initial;
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
      /*
				@include media-breakpoint-down(md) { 
					margin: 0 0 0 -25%;
				}
				
				@include media-breakpoint-down(sm) {
					margin: 0 0 0 -50%;	
				}
				*/ }
    body > section .background-container img, body > section .overlay img, body > footer .background-container img, body > footer .overlay img, body > header .background-container img, body > header .overlay img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  body > section .overlay, body > footer .overlay, body > header .overlay {
    z-index: -1;
    background: var(--bs-black);
    opacity: 0.6; }
  body > section .separator, body > footer .separator, body > header .separator {
    z-index: 2;
    position: absolute;
    width: 100%;
    color: #fff;
    /*> svg, */ }
    body > section .separator > img, body > footer .separator > img, body > header .separator > img {
      width: 100%;
      height: 100%; }
    body > section .separator.bottom, body > footer .separator.bottom, body > header .separator.bottom {
      bottom: 0; }
    body > section .separator.top, body > footer .separator.top, body > header .separator.top {
      top: 0px; }
  body > section .background-container.parallax, body > footer .background-container.parallax, body > header .background-container.parallax {
    clip-path: inset(0 0 0 0); }
    body > section .background-container.parallax > *, body > footer .background-container.parallax > *, body > header .background-container.parallax > * {
      position: fixed; }

.logo-sticky {
  display: none; }

.logo-default-dark {
  display: none; }

.logo-default-dark-sticky {
  display: none; }

div.sticky .logo-sticky {
  display: unset; }

div.sticky .logo-default {
  display: none; }

div.sticky .logo-default-dark {
  display: none; }

div.sticky .logo-default-dark-sticky {
  display: none; }

div.sticky .logo-dark {
  display: none; }

[data-bs-theme="dark"] .logo-default-dark {
  display: unset; }

[data-bs-theme="dark"] .logo-default {
  display: none; }

[data-bs-theme="dark"] div.sticky .logo-sticky {
  display: none; }

[data-bs-theme="dark"] div.sticky .logo-default-dark {
  display: none; }

[data-bs-theme="dark"] div.sticky .logo-default-dark-sticky {
  display: unset; }

.navbar-dark .logo-default {
  display: none; }

.navbar-dark .logo-default-dark {
  display: unset; }

.navbar-light .logo-default {
  display: unset; }

.navbar-light .logo-default-dark {
  display: none; }

.fixed-top ~ .fixed-top {
  position: unset; }
