<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sunnyside agency landing page</title>

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="css/style.bundle.css">


  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&amp;family=Fraunces:wght@700;900&amp;display=swap" rel="stylesheet">


</head>

<body class="page">

  <header data-v-save-global="index.html,header">

    <div class="container">
      <nav class="navbar" data-navbar data-v-component-menu="header" data-v-slug="main-menu">

        <div class="navbar-brand logo" data-v-component-site>
          <!-- <a class="navbar-brand" href="/" data-url data-v-url-params='{"host":"www.*.*"}'><span class="visually-hidden">Logo</span> -->
          <a class="navbar-brand h4 mb-0 text-decoration-none" href="/" data-v-site-url>
            <span class="visually-hidden">Logo</span>
            <img src="img/logo.png" alt="Site logo" loading="lazy" class="logo-default" data-v-site-logo>
            <img src="img/logo.png" alt="Site logo sticky" loading="lazy" class="logo-sticky" data-v-site-logo-sticky>
            <img src="img/logo-white.png" alt="Site logo dark" loading="lazy" class="logo-default-dark" data-v-site-logo-dark>
            <img src="img/logo-white.png" alt="Site logo dark sticky" loading="lazy" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky>
          </a>
        </div>

        <ul class="navbar-list m-0" data-v-menu-items>
          <li class="nav-item dropdown position-static" data-v-menu-item data-v-class-if-has-dropdown="category.children &gt; 0" data-v-class-if-position-static="category.has-text">

            <a class="navbar-link dropdown-toggle" data-v-class-if-dropdown-toggle="category.children &gt; 0" data-v-class-if-active="category.active" aria-expanded="false" data-v-menu-item-url>
              <span data-v-menu-item-name data-v-if-not="category.type = 'text' &amp;&amp; category.name"></span>
              <span data-v-if="category.content" data-v-menu-item-content>
                <p>
                  <img src="/media/vvveb.svg" height="24" alt="" class="me-2">Mega menu
                </p>
              </span>
            </a>

            <div class="dropdown-menu" data-v-menu-item-recursive>
              <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                <a class="dropdown-item" data-v-class-if-active="category.active &amp;&amp; category.type != 'text'" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                  <span data-v-menu-item-name data-v-if-not="category.type = 'text'"></span>
                  <span data-v-if="category.content" data-v-menu-item-content>
                    <div class="row">
                      <div class="col-6 align-self-center">
                        <img src="img/demo/video-1.webp" alt="Post" width="250" loading="lazy" class="rounded img-fluid">
                      </div>
                      <div class="col-6">
                        <h4>Features</h4>
                        <p class="text-muted">Just a few mentions, but there is more</p>
                        <ul class="list-unstyled">
                          <li class="text-primary">Page builder</li>
                          <li class="text-primary">Mega menu</li>
                          <li class="text-primary">Multi language</li>
                          <li class="text-primary">Advanced SEO</li>
                          <li class="text-primary">Ecommerce</li>
                        </ul>
                      </div>
                    </div>
                  </span>
                </a>
              </div>
              <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-class-if-active="category.active" data-v-menu-item-url>
                  <span data-v-menu-item-name data-v-if-not="category.type = 'text'">Developer Documentation</span>
                  <span data-v-menu-item-content></span>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown" data-v-menu-item>
            <a class="navbar-link dropdown-toggle" href="https://blog.vvveb.com" data-v-menu-item-url>
              <span data-v-menu-item-name>Blog</span>
            </a>

            <div class="dropdown-menu" data-v-menu-item-recursive>
              <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                  <span data-v-menu-item-name data-v-if-not="category.type = 'text'">User Documentation</span>
                  <span data-v-menu-item-content></span>
                </a>
              </div>
              <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                  <span data-v-menu-item-name data-v-if-not="category.type = 'text'">Developer Documentation</span>
                  <span data-v-menu-item-content></span>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item" data-v-menu-item>
            <a class="navbar-link" href="https://www.vvveb.com/page/contact" data-v-menu-item-url>
              <span data-v-menu-item-name>Contact</span>
            </a>
          </li>
          <li class="nav-item" data-v-menu-item>
            <a class="navbar-link" href="https://www.vvveb.com" data-v-menu-item-url>
              <span data-v-menu-item-name>About us</span>
            </a>
          </li>
        </ul>

        <a href="/page/contact" class="btn btn-primary">Contact</a>

        <button class="nav-toggle-btn">
          <span class="line one"></span>
          <span class="line two"></span>
          <span class="line three"></span>
        </button>

      </nav>
    </div>

  </header>

  <section class="inner-page-hero" data-v-component-post>
    <div>
      <div class="title-container">
        <div class="container">
          <nav aria-label="breadcrumb" class="text-muted text-small" data-v-component-breadcrumb>
            <ol class="breadcrumb">
              <li class="breadcrumb-item" data-v-breadcrumb-item>
                <a data-v-breadcrumb-item-url data-v-if="breadcrumb.url">
                  <span data-v-breadcrumb-item-text>Home</span>
                </a>
                <span data-v-breadcrumb-item-text data-v-if-not="breadcrumb.url">Home</span>
              </li>
              <li class="breadcrumb-item" data-v-breadcrumb-item>
                <a data-v-breadcrumb-item-url data-v-if="breadcrumb.url">
                  <span data-v-breadcrumb-item-text>Library</span>
                </a>
                <span data-v-breadcrumb-item-text data-v-if-not="breadcrumb.url">Library</span>
              </li>
              <li class="breadcrumb-item active" aria-current="page" data-v-breadcrumb-item>
                <span>Data</span>
              </li>
            </ol>
          </nav>

          <h1 data-v-post-name>Vvveb CMS</h1>
        </div>
      </div>


      <!-- img data-v-post-image src="demo/img/bg-img/bg-7.webp" alt="" -->
    </div>
  </section>

  <main id="site-content" data-v-component-post>

    <!-- Single Blog Post Thumb -->
    <!-- 
        <div class="inner-page-hero" data-v-if="post.img">
			<div class="title-container">
				<h1 data-v-post-name>Post title</h1>
			</div>
            <img data-v-post-img src="demo/img/bg-img/bg-7.webp" alt="">
        </div>
		-->

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div>
            <!--
						<h1 class="text-center" data-v-if-not="post.img" data-v-post-name>Page title</h1>
						-->

            <img class="img-fluid w-100 align-center my-5" src="http://place-hold.it/1500x500" alt="Card image cap" data-aos="zoom-in-up" data-aos-duration="500" loading="lazy" data-v-post-image data-v-if="post.image">

            <div data-v-post-content>
              <h2>The next generation website builder</h2>
              <p>Powerful and easy to use drag and drop website builder for blogs, presentation or ecommerce stores.</p>
              <p>The html for sections blocks and components and this template are built using Bootstrap 5.</p>
            </div>
          </div>
        </div>
      </div>


      <div data-v-component-fields data-v-type="post" data-v-subtype="page">

        <div class="list-unstyled" data-v-fields>

          <div data-v-field>

            <div data-v-type-google_map>

              <iframe data-v-if="field.value" frameborder="0" src="https://maps.google.com/maps?q={$field.value.address}&amp;z={$field.value.zoom}&center={$field.value.lat},{$field.value.long}&amp;t=q&amp;key=&amp;output=embed" width="100%" height="100%" style="width:100%;height:100%;left:0px"></iframe>
              <iframe data-v-if="field.lat && field.long && !field.value" frameborder="0" src="https://maps.google.com/maps?center={$field.value.lat},{$field.value.long}&amp;z={$field.value.zoom}&amp;t=q&amp;key=&amp;output=embed" width="100%" height="100%" style="width:100%;height:100%;left:0px"></iframe>

            </div>


            <div data-v-type-default>
              <span class="fw-bold" data-v-field-name></span>

              <span data-v-if-not="is_array" data-v-field-value></span>

              <div data-v-subfields>

                <li data-v-subfields-field>
                  <span class="fw-bold" data-v-subfields-field-name></span>
                  <span data-v-subfields-field-value></span>
                </li>
              </div><!-- /subfields -->
            </div><!-- /default -->

          </div><!-- /field -->

        </div><!-- /fields -->

      </div><!-- /component -->


    </div>
  </main>


  <footer data-v-save-global="index.html,footer">
    <div class="container">
      <div class="navbar-brand logo" data-v-component-site>
        <!-- <a class="navbar-brand" href="/" data-url data-v-url-params='{"host":"www.*.*"}'><span class="visually-hidden">Logo</span> -->
        <a class="navbar-brand h4 mb-0 text-decoration-none" href="/" data-v-site-url>
          <span class="visually-hidden">Logo</span>
          <img src="img/logo.png" alt="Site logo" loading="lazy" class="logo-default" data-v-site-logo>
          <img src="img/logo.png" alt="Site logo sticky" loading="lazy" class="logo-sticky" data-v-site-logo-sticky>
          <img src="img/logo-white.png" alt="Site logo dark" loading="lazy" class="logo-default-dark" data-v-site-logo-dark>
          <img src="img/logo-white.png" alt="Site logo dark sticky" loading="lazy" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky>
        </a>
      </div>

      <ul class="footer-nav">

        <li>
          <a href="/about">About</a>
        </li>

        <li>
          <a href="/page/services">Services</a>
        </li>

        <li>
          <a href="#projects">Projects</a>
        </li>

      </ul>

      <div class="social-links">

        <a href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>

        <a href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>

        <a href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>

        <a href="#">
          <ion-icon name="logo-pinterest"></ion-icon>
        </a>

      </div>

    </div>
  </footer>

  <!--
    - custom script
  -->

  <script>

    // navbar variable

    const nav = document.querySelector(".navbar-nav");
    const navToggleBtn = document.querySelector(".nav-toggle-btn");
    const navLinks = document.querySelectorAll(".nav-link");

    // navbar toggle function
    const navToggleFunc = function () {
      nav.classList.toggle('active');
      navToggleBtn.classList.toggle('active');
    }

    navToggleBtn.addEventListener('click', navToggleFunc);

    for (let i = 0; i < navLinks.length; i++) {

      navLinks[i].addEventListener('click', navToggleFunc);

    }

  </script>



  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



  <div class="alert alert-light alert-dismissible fade alert-top" role="alert" style="display:none">
    <div class="container">

      <div class="message">
        Product was added to cart.
      </div>


      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">

          <form action="/search" method="get">
            <input type="hidden" name="route" value="search">
            <div class="input-group">
              <input type="search" name="search" class="form-control" id="headerSearch" placeholder="Type for search" data-v-vvveb-action="search" data-selector=".search-results" data-v-vvveb-on="keyup">
              <button class="btn btn-outline-primary border" type="submit" title="Search">
                <div class="la-flip-horizontal">
                  <i class="la la-search la-lg" aria-hidden="true"></i>
                </div>
              </button>
            </div>
          </form>

          <div class="search-results">

          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="page-loading-status" class="progress top-0 position-fixed progress-bar" role="progressbar" aria-label="Page loading status" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="z-index: 10;--bs-progress-bg: transparent;--bs-progress-height: 1px;width:0%"></div>


  <script id="app-js" src="/js/app.js"></script>
  <script id="theme-js" src="/js/app/theme.js"></script>
  <script id="cart-js" src="/js/app/cart.js"></script>


</body>

</html>