<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sunnyside agency landing page</title>

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="css/style.bundle.css">


  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&amp;family=Fraunces:wght@700;900&amp;display=swap" rel="stylesheet">


</head>

<body class="post">


  <section class="hero" data-v-component-post="post" data-bs-theme="dark">

    <div class="site-header post">

      <header data-v-save-global="index.html,header">

        <div class="container">
          <nav class="navbar" data-navbar data-v-component-menu="header" data-v-slug="main-menu">

            <div class="navbar-brand logo" data-v-component-site>
              <!-- <a class="navbar-brand" href="/" data-url data-v-url-params='{"host":"www.*.*"}'><span class="visually-hidden">Logo</span> -->
              <a class="navbar-brand h4 mb-0 text-decoration-none" href="/" data-v-site-url>
                <span class="visually-hidden">Logo</span>
                <img src="img/logo.png" alt="Site logo" loading="lazy" class="logo-default" data-v-site-logo>
                <img src="img/logo.png" alt="Site logo sticky" loading="lazy" class="logo-sticky" data-v-site-logo-sticky>
                <img src="img/logo-white.png" alt="Site logo dark" loading="lazy" class="logo-default-dark" data-v-site-logo-dark>
                <img src="img/logo-white.png" alt="Site logo dark sticky" loading="lazy" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky>
              </a>
            </div>

            <ul class="navbar-list m-0" data-v-menu-items>
              <li class="nav-item dropdown position-static" data-v-menu-item data-v-class-if-has-dropdown="category.children &gt; 0" data-v-class-if-position-static="category.has-text">

                <a class="navbar-link dropdown-toggle" data-v-class-if-dropdown-toggle="category.children &gt; 0" data-v-class-if-active="category.active" aria-expanded="false" data-v-menu-item-url>
                  <span data-v-menu-item-name data-v-if-not="category.type = 'text' &amp;&amp; category.name"></span>
                  <span data-v-if="category.content" data-v-menu-item-content>
                    <p>
                      <img src="/media/vvveb.svg" height="24" alt="" class="me-2">Mega menu
                    </p>
                  </span>
                </a>

                <div class="dropdown-menu" data-v-menu-item-recursive>
                  <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                    <a class="dropdown-item" data-v-class-if-active="category.active &amp;&amp; category.type != 'text'" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                      <span data-v-menu-item-name data-v-if-not="category.type = 'text'"></span>
                      <span data-v-if="category.content" data-v-menu-item-content>
                        <div class="row">
                          <div class="col-6 align-self-center">
                            <img src="img/demo/video-1.webp" alt="Post" width="250" loading="lazy" class="rounded img-fluid">
                          </div>
                          <div class="col-6">
                            <h4>Features</h4>
                            <p class="text-muted">Just a few mentions, but there is more</p>
                            <ul class="list-unstyled">
                              <li class="text-primary">Page builder</li>
                              <li class="text-primary">Mega menu</li>
                              <li class="text-primary">Multi language</li>
                              <li class="text-primary">Advanced SEO</li>
                              <li class="text-primary">Ecommerce</li>
                            </ul>
                          </div>
                        </div>
                      </span>
                    </a>
                  </div>
                  <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                    <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-class-if-active="category.active" data-v-menu-item-url>
                      <span data-v-menu-item-name data-v-if-not="category.type = 'text'">Developer Documentation</span>
                      <span data-v-menu-item-content></span>
                    </a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown" data-v-menu-item>
                <a class="navbar-link dropdown-toggle" href="https://blog.vvveb.com" data-v-menu-item-url>
                  <span data-v-menu-item-name>Blog</span>
                </a>

                <div class="dropdown-menu" data-v-menu-item-recursive>
                  <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                    <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                      <span data-v-menu-item-name data-v-if-not="category.type = 'text'">User Documentation</span>
                      <span data-v-menu-item-content></span>
                    </a>
                  </div>
                  <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                    <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                      <span data-v-menu-item-name data-v-if-not="category.type = 'text'">Developer Documentation</span>
                      <span data-v-menu-item-content></span>
                    </a>
                  </div>
                </div>
              </li>
              <li class="nav-item" data-v-menu-item>
                <a class="navbar-link" href="https://www.vvveb.com/page/contact" data-v-menu-item-url>
                  <span data-v-menu-item-name>Contact</span>
                </a>
              </li>
              <li class="nav-item" data-v-menu-item>
                <a class="navbar-link" href="https://www.vvveb.com" data-v-menu-item-url>
                  <span data-v-menu-item-name>About us</span>
                </a>
              </li>
            </ul>

            <a href="/page/contact" class="btn btn-primary">Contact</a>

            <button class="nav-toggle-btn">
              <span class="line one"></span>
              <span class="line two"></span>
              <span class="line three"></span>
            </button>

          </nav>
        </div>

      </header>

      <div class="title-container">
        <div class="container">
          <h1 class="display-5 text-center" data-aos="fade-up" data-aos-duration="500" data-v-post-name>Begin each day by telling yourself</h1>

          <h5 class="text-center my-4 mb-5 w-50 mx-auto" data-aos="fade-up" data-aos-duration="500" data-v-post-excerpt>Today I shall be meeting with interference, ingratitude, insolence, disloyalty, ill-will, and selfishness all of them due to the offenders` ignorance of what is good or evil.</h5>

          <ul class="post-meta" data-aos="fade-up" data-aos-duration="200">

            <li class="post-author meta-wrapper">
              <span class="meta-icon">
                <span class="screen-reader-text">Post author</span>
                <i class="la la-user"></i>
              </span>
              <span class="meta-text">
                By <a data-v-post-author-url>
                  <span data-v-post-display_name>admin</span>
                </a>
              </span>
            </li>

            <li class="post-date meta-wrapper">
              <span class="meta-icon">
                <span class="screen-reader-text">Post date</span>

                <i class="la la-calendar"></i>
              </span>
              <span class="meta-text">
                <a data-v-post-url>
                  <span data-v-post-created_at data-filter-friendly_date>December 31, 2020</span>
                </a>
              </span>
            </li>
            <li class="post-comment-link meta-wrapper">
              <span class="meta-icon">
                <i class="la la-comment"></i>
              </span>
              <span class="meta-text">
                <a href="#comments" data-v-post-comments-url>
                  <span data-v-post-comment_text>0 Comments</span>
                </a>
              </span>
            </li>

          </ul>


        </div>
      </div>


      <div class="background">
        <img data-v-post-image src="http://place-hold.it/1200x800" alt="" loading="lazy" data-aos="fade-up" data-aos-duration="500">
      </div>
    </div>
  </section>


  <main id="site-content" role="main" data-v-component-post="post">


    <!-- Blog Entries Column col-md-8 col-lg-9 -->
    <div>

      <!-- Blog Post -->
      <article class="card mb-4  post-archive-item post" data-v-post>
        <div class="card-header">

          <!--
		<div class="post-meta-wrapper post-meta-single post-meta-single-top">

				<ul class="post-meta">

					<li class="post-author meta-wrapper">
							<span class="meta-icon">
								<span class="screen-reader-text">Post author</span>
									<i class="la la-user"></i>
								</span>
							<span class="meta-text">
								By <a data-v-post-author-url><span data-v-post-display_name>admin</span></a>												
							</span>
						</li>
						
						<li class="post-date meta-wrapper">
							<span class="meta-icon">
								<span class="screen-reader-text">Post date</span>

									<i class="la la-calendar"></i>
								</span>
							<span class="meta-text">
									<a data-v-post-url><span data-v-post-created_at data-filter-friendly_date >December 31, 2020</span></a>
							</span>
						</li>
							<li class="post-comment-link meta-wrapper">
							<span class="meta-icon">
								<i class="la la-comment"></i>
							</span>
							<span class="meta-text">
								<a href="#comments"  data-v-post-comments-url><span data-v-post-comment_text>0 Comments</span></a>								</span>
						</li>
						
				</ul>

	</div>
-->

        </div>
        <div class="card-body mb-3">

          <div class="card-text post-content" data-v-post-content>
            <p>
              Begin each day by telling yourself:
            </p>

            <blockquote cite="https://en.wikipedia.org/wiki/Marcus_Aurelius">
              <p>Today I shall be meeting with interference, ingratitude, insolence, disloyalty, ill-will, and selfishness all of them due to the offenders` ignorance of what is good or evil.</p>
              <cite class="small">
                <a href="https://en.wikipedia.org/wiki/Marcus_Aurelius" class="text-decoration-none" target="_blank">Marcus Aurelius</a>
              </cite>
            </blockquote>

            <p>
              But for my part I have long perceived the nature of good and its nobility, the nature of evil and its meanness, and also the nature of the culprit himself, who is my brother (not in the physical sense, but as a fellow creature similarly endowed with reason and a share of the divine);therefore none of those things can injure me, for nobody can implicate me in what is degrading.
            </p>

            <p>
              <img class="img-fluid" loading="lazy" src="http://place-hold.it/1200x300">
            </p>

            <p>
              Neither can I be angry with my brother or fall foul of him; for he and I were born to work together, like a man`s two hands, feet or eyelids, or the upper and lower rows of his teeth.
            </p>

            <p>
              To obstruct each other is against Nature`s law - and what is irritation or aversion but a form of obstruction.
            </p>

            <div>
              <img class="img-fluid align-center" loading="lazy" src="http://place-hold.it/1200x300">
            </div>

            <p>
              Consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi.
            </p>

            <p>
              <img class="img-fluid align-right" loading="lazy" src="http://place-hold.it/150x150">
            </p>

            <p>
              Nullam vel orci dui. Su spendisse sit amet laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem.
            </p>
            <p>
              Quisque in porttitor magna, a imperdiet est. Donec accumsan justo nulla, sit amet varius urna laoreet vitae. Maecenas feugiat fringilla metus.
            </p>

            <p>
              <img class="img-fluid align-left" loading="lazy" src="http://place-hold.it/150x150">
            </p>

            <p>
              Nullam vel orci dui. Su spendisse sit amet laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem.
            </p>
            <p>
              Quisque in porttitor magna, a imperdiet est. Donec accumsan justo nulla, sit amet varius urna laoreet vitae. Maecenas feugiat fringilla metus.
            </p>

          </div>

          <div data-v-component-fields data-v-type="post" data-v-subtype="post">

            <div class="list-unstyled" data-v-fields>

              <div data-v-field>

                <div data-v-type-google_map>

                  <iframe data-v-if="field.value" frameborder="0" src="https://maps.google.com/maps?q={$field.value.address}&amp;z={$field.value.zoom}&center={$field.value.lat},{$field.value.long}&amp;t=q&amp;key=&amp;output=embed" width="100%" height="100%" style="width:100%;height:100%;left:0px"></iframe>
                  <iframe data-v-if="field.lat && field.long && !field.value" frameborder="0" src="https://maps.google.com/maps?center={$field.value.lat},{$field.value.long}&amp;z={$field.value.zoom}&amp;t=q&amp;key=&amp;output=embed" width="100%" height="100%" style="width:100%;height:100%;left:0px"></iframe>

                </div>


                <div data-v-type-default>
                  <span class="fw-bold" data-v-field-name></span>

                  <span data-v-if-not="is_array" data-v-field-value></span>

                  <div data-v-subfields>

                    <li data-v-subfields-field>
                      <span class="fw-bold" data-v-subfields-field-name></span>
                      <span data-v-subfields-field-value></span>
                    </li>
                  </div><!-- /subfields -->
                </div><!-- /default -->

              </div><!-- /field -->

            </div><!-- /fields -->

          </div><!-- /component -->



        </div>

        <div class="card-footer">

          <div data-v-component-content-categories="blog-post" data-v-type="tags" data-v-post_id="url">
            <div>
              <ul data-v-cats class="tags">
                <li data-v-cat>
                  <a data-v-cat-url>
                    <span data-v-cat-name>tag 1</span>
                  </a>
                </li>
                <li data-v-cat>
                  <a data-v-cat-url>
                    <span data-v-cat-name>tag 2</span>
                  </a>
                </li>
                <li data-v-cat>
                  <a data-v-cat-url>
                    <span data-v-cat-name>tag 3</span>
                  </a>
                </li>
                <li data-v-cat>
                  <a data-v-cat-url>
                    <span data-v-cat-name>tag 4</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>


          <div class="container py-4 my-4 border-top border-bottom" data-v-component-admin data-v-admin_id="url">
            <div class="row">
              <div class="col-md-3 align-self-center">
                <img class="img-fluid d-block rounded-circle border p-1 mx-auto" src="/media/placeholder.svg" width="64" height="64" data-v-admin-avatar_url>
              </div>
              <div class="col-md-9 align-self-center">
                <span class="text-muted">Meet the author</span>
                <h4 data-v-admin-display_name>John Doe</h4>
                <div class="mb-2" data-v-admin-bio>My bio</div>

                <a data-v-admin-url>
                  <span>All author posts</span>
                </a>
              </div>
            </div>
          </div>


          <div id="comments" class="post-comments mt-5" data-v-component-comments>
            <h4 class="comments-title">Comments</h4>

            <ol class="comment-list list-unstyled mb-3" data-v-if="count > 0">
              <li class="comment mb-4" data-v-comment>

                <div class="comment-wrap d-flex ">

                  <figure class="author-avatar me-2">
                    <img src="demo/img/sections/team/1.webp" alt="user" width="60" data-v-comment-avatar_url loading="lazy" data-v-if="comment.avatar">
                    <div class="empty" data-v-if-not="comment.avatar"></div>
                  </figure>

                  <div class="comment-author">

                    <div class="comment-author">
                      <a rel="external nofollow ugc" data-v-if="comment.url">
                        <span data-v-comment-author>Maria Williams</span>
                      </a>
                      <span data-v-comment-author data-v-if-not="comment.url">Maria Williams</span>
                    </div>

                    <div class="comment-meta text-small text-muted">
                      <span data-v-comment-created_at data-filter-friendly_date>Jan 29, 2018</span>
                    </div>

                  </div>

                </div>


                <div data-v-comment-content>
                  <p>Consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Su spendisse sit amet laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque in porttitor magna, a imperdiet est. Donec accumsan justo nulla, sit amet varius urna laoreet vitae. Maecenas feugiat fringilla metus. </p>
                </div>

                <div class="alert alert-light my-2 small" data-v-if="comment.status = 0">
                  <div>Your comment is awaiting moderation.</div>
                  <div>This is a preview, your comment will be visible after it has been approved.</div>
                </div>

                <div class="reply">
                  <a href="#comment-form" class="reply-btn" data-comment_id="{$comment.comment_id}" data-comment_author="{$comment.author}" data-v-vvveb-action="replyTo">Reply <i class="la la-reply"></i>
                  </a>
                </div>

              </li>
              <li class="comment mb-4 level-2" data-v-comment>

                <div class="comment-wrap d-flex ">

                  <figure class="author-avatar me-2">
                    <img src="http://place-hold.it/60x60" alt="user" width="60" height="60" data-v-comment-avatar_url loading="lazy" data-v-if="comment.avatar">
                  </figure>

                  <div class="comment-author">

                    <div class="comment-author">
                      <span data-v-comment-author data-v-if-not="comment.url">John doe</span>
                    </div>

                    <div class="comment-meta text-small text-muted">
                      <span data-v-comment-created_at data-filter-friendly_date>Jan 29, 2018</span>
                    </div>

                  </div>

                </div>


                <div data-v-comment-content>
                  <p>This is a reply comment.</p>
                </div>

                <div class="alert alert-light my-2 small" data-v-if="comment.status = 0">
                  <div>Your comment is awaiting moderation.</div>
                  <div>This is a preview, your comment will be visible after it has been approved.</div>
                </div>

                <div class="reply">
                  <a href="#comment-form" class="reply-btn" data-comment_id="{$comment.comment_id}" data-comment_author="{$comment.author}" data-v-vvveb-action="replyTo">Reply <i class="la la-reply"></i>
                  </a>
                </div>

              </li>
              <li class="comment mb-4" data-v-comment>

                <div class="comment-wrap d-flex ">

                  <figure class="author-avatar me-2">
                    <img src="demo/img/sections/team/1.webp" alt="user" width="60" height="60" data-v-comment-avatar_url loading="lazy" data-v-if="comment.avatar">
                  </figure>

                  <div class="comment-author">

                    <div class="comment-author">
                      <a rel="external nofollow ugc" data-v-if="comment.url">
                        <span data-v-comment-author>Maria Williams</span>
                      </a>
                      <span data-v-comment-author data-v-if-not="comment.url">Maria Williams</span>
                    </div>

                    <div class="comment-meta text-small text-muted">
                      <span data-v-comment-created_at data-filter-friendly_date>Jan 29, 2018</span>
                    </div>

                  </div>

                </div>

                <div data-v-comment-content>
                  <p>Consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Su spendisse sit amet laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque in porttitor magna, a imperdiet est. Donec accumsan justo nulla, sit amet varius urna laoreet vitae. Maecenas feugiat fringilla metus. </p>
                </div>

                <div class="alert alert-light my-2 small" data-v-if="comment.status = 0">
                  <div>Your comment is awaiting moderation.</div>
                  <div>This is a preview, your comment will be visible after it has been approved.</div>
                </div>

                <div class="reply">
                  <a href="#comment-form" class="reply-btn" data-comment_id="{$comment.comment_id}" data-comment_author="{$comment.author}" data-v-vvveb-action="replyTo">Reply <i class="la la-reply"></i>
                  </a>
                </div>

              </li>
            </ol>

            <div class="comments-form">

              <div class="notifications" data-v-notifications>

                <div class="alert alert-danger d-flex alert-dismissable" role="alert" data-v-notification-error>

                  <div class="icon align-middle me-2">
                    <i class="align-middle la la-2x lh-1 la-exclamation-triangle"></i>
                  </div>

                  <div class="flex-grow-1 align-self-center text-small">
                    <div>
                      <div data-v-notification-text>
                        This is a placeholder for a notification message.
                      </div>
                    </div>
                  </div>


                  <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                      <!-- <i class="la la-times"></i> -->
                    </span>
                  </button>
                </div>

                <div class="alert alert-success d-flex  alert-dismissable d-flex" role="alert" data-v-notification-success>

                  <div class="icon align-middle me-2">
                    <i class="align-middle la la-2x lh-1 la-check-circle"></i>
                  </div>

                  <div class="flex-grow-1 align-self-center align-middle" data-v-notification-text>
                    This is a placeholder for a success message.
                  </div>

                  <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                      <!-- <i class="la la-times"></i> -->
                    </span>
                  </button>
                </div>

                <div class="alert alert-primary d-flex alert-dismissable d-flex" role="alert" data-v-notification-info>

                  <div class="icon align-middle me-2">
                    <i class="align-middle la la-2x lh-1  la-info-circle"></i>
                  </div>

                  <div class="flex-grow-1 align-self-center" data-v-notification-text>
                    This is a placeholder for a info message.
                  </div>

                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                      <!-- <i class="la la-times"></i> -->
                    </span>
                  </button>
                </div>

              </div>

              <h5>Leave a reply</h5>
              <div class="replyto" style="display:none">
                <h3>Reply to <b data-comment-author>author</b>
                </h3>
                <a href="#comment-form" class="reply-btn d-inline-block" data-comment_id="0" data-v-vvveb-action="replyTo">
                  Cancel reply
                  <i class="la la-window-close"></i>
                </a>
              </div>


              <div class="loggedin mb-3" data-v-if="this.global.user_id">
                <!--
			<a href="#comment-form" class="reply-btn d-inline-block" data-comment_id="0" data-v-vvveb-action="replyTo">
			Log out
			<i class="la la-window-close"></i></a>
			-->

                <form action method="post" enctype="multipart/form-data" data-v-url="user/login/index" data-selector=".post-comments">

                  <span>Logged in as <b data-v-global-user.display_name>author</b>
                  </span>

                  <input type="hidden" name="logout">

                  <button type="submit" value="logout" class="btn link-primary">

                    <span class="loading d-none">
                      <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                      </span>
                      <span>Loading ...</span>...
                    </span>

                    <span class="button-text">
                      Logout <i class="la la-sign-out-alt"></i>
                    </span>

                  </button>
                </form>

              </div>

              <form id="comment-form" method="post" action="" data-v-vvveb-action="addComment" data-v-vvveb-on="submit">

                <input type="hidden" name="post_id" data-v-post-post_id>
                <input type="hidden" name="slug" data-v-post-slug>
                <input type="hidden" name="parent_id" value="0">
                <input type="hidden" name="csrf" data-v-csrf>

                <!-- antibot do not fill -->
                <input type="hidden" class="form-control" placeholder="First name" name="firstname-empty">


                <div data-v-if-not="this.global.user_id">
                  <div class="mb-3">
                    <label for="author" class="form-label">Name</label>
                    <input type="text" placeholder="Name" name="author" class="form-control" required>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" placeholder="Email" name="email" class="form-control" required>
                  </div>
                </div>

                <div class="mb-3">
                  <textarea name="content" rows="5" cols="4" placeholder="Comment" class="form-control" required></textarea>
                </div>

                <!-- if these hidden inputs are filled then ignore robots -->
                <input type="text" class="form-control d-none" placeholder="Subject" name="subject-empty">

                <input type="text" class="form-control visually-hidden" placeholder="Last name" name="lastname-empty" tabindex="-1">

                <button type="submit" value="comment" class="btn btn-primary btn-submit">
                  <span class="loading d-none">
                    <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"> </span>
                    <span>Posting</span>...
                  </span>

                  <span class="button-text">
                    <span>Post comment</span>
                    <i class="la la-long-arrow-alt-right ms-1"></i>
                  </span>
                </button>

              </form>
            </div>
          </div>


        </div>
      </article>


    </div>


  </main>


  <footer data-v-save-global="index.html,footer">
    <div class="container">
      <div class="navbar-brand logo" data-v-component-site>
        <!-- <a class="navbar-brand" href="/" data-url data-v-url-params='{"host":"www.*.*"}'><span class="visually-hidden">Logo</span> -->
        <a class="navbar-brand h4 mb-0 text-decoration-none" href="/" data-v-site-url>
          <span class="visually-hidden">Logo</span>
          <img src="img/logo.png" alt="Site logo" loading="lazy" class="logo-default" data-v-site-logo>
          <img src="img/logo.png" alt="Site logo sticky" loading="lazy" class="logo-sticky" data-v-site-logo-sticky>
          <img src="img/logo-white.png" alt="Site logo dark" loading="lazy" class="logo-default-dark" data-v-site-logo-dark>
          <img src="img/logo-white.png" alt="Site logo dark sticky" loading="lazy" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky>
        </a>
      </div>

      <ul class="footer-nav">

        <li>
          <a href="/about">About</a>
        </li>

        <li>
          <a href="/page/services">Services</a>
        </li>

        <li>
          <a href="#projects">Projects</a>
        </li>

      </ul>

      <div class="social-links">

        <a href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>

        <a href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>

        <a href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>

        <a href="#">
          <ion-icon name="logo-pinterest"></ion-icon>
        </a>

      </div>

    </div>
  </footer>

  <!--
    - custom script
  -->

  <script>

    // navbar variable

    const nav = document.querySelector(".navbar-nav");
    const navToggleBtn = document.querySelector(".nav-toggle-btn");
    const navLinks = document.querySelectorAll(".nav-link");

    // navbar toggle function
    const navToggleFunc = function () {
      nav.classList.toggle('active');
      navToggleBtn.classList.toggle('active');
    }

    navToggleBtn.addEventListener('click', navToggleFunc);

    for (let i = 0; i < navLinks.length; i++) {

      navLinks[i].addEventListener('click', navToggleFunc);

    }

  </script>



  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



  <div class="alert alert-light alert-dismissible fade alert-top" role="alert" style="display:none">
    <div class="container">

      <div class="message">
        Product was added to cart.
      </div>


      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">

          <form action="/search" method="get">
            <input type="hidden" name="route" value="search">
            <div class="input-group">
              <input type="search" name="search" class="form-control" id="headerSearch" placeholder="Type for search" data-v-vvveb-action="search" data-selector=".search-results" data-v-vvveb-on="keyup">
              <button class="btn btn-outline-primary border" type="submit" title="Search">
                <div class="la-flip-horizontal">
                  <i class="la la-search la-lg" aria-hidden="true"></i>
                </div>
              </button>
            </div>
          </form>

          <div class="search-results">

          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="page-loading-status" class="progress top-0 position-fixed progress-bar" role="progressbar" aria-label="Page loading status" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="z-index: 10;--bs-progress-bg: transparent;--bs-progress-height: 1px;width:0%"></div>


  <script id="app-js" src="/js/app.js"></script>
  <script id="theme-js" src="/js/app/theme.js"></script>
  <script id="cart-js" src="/js/app/cart.js"></script>

</body>

</html>