<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <base href="../">

  <title>Blog Home - Vvveb Default Blog Template</title>

  <link href="css/style.css" rel="stylesheet">


  <link rel="alternate" type="application/rss+xml" title="Feed" href="/feed/posts" />
  <link rel="alternate" type="application/rss+xml" title="Comments Feed" href="/feed/comments" />

  <link rel="icon" type="image/x-icon" href="../../media/favicon.ico" data-v-global-site.favicon>

  <link rel="manifest" href="/manifest.webmanifest">

  <link rel="alternate" hreflang="" href="" />

  <link rel="stylesheet" href="js/aos.css">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
</head>


<body class="blog">

  <header id="main-header" data-v-save-global="index.html,#main-header">
    <nav class="navbar navbar-expand-lg p-4">
      <div class="container-fluid">

        <div data-v-component-site>
          <span class="d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile -->
          </span>

          <a class="navbar-brand  d-none d-lg-inline-block pb-0" href="index.html" data-v-url-params='{"host":"www.*.*"}'>
            <span data-v-site-description-title>Vvveb Blog</span>
            <!--
				   <img	 src="img/logo.png" class="logo-default" data-v-site-logo>
				   <img src="img/logo.png" class="logo-sticky" data-v-site-logo-sticky>
				   <img src="img/logo-white.png" class="logo-default-dark" data-v-site-logo-dark>
				   <img src="img/logo-white.png" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky>
-->
          </a>
          <small class="d-block text-muted" data-v-site-description-description>minimal blog template</small>

          <div class="w-100 text-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>


        <div class="collapse navbar-collapse flex-grow-1 text-end" id="navbar" data-v-component-menu="header" data-v-slug="main-menu">
          <ul class="navbar-nav ms-auto flex-nowrap" data-v-menu-items>
            <li class="nav-item dropdown position-static" data-v-menu-item data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text">

              <a class="nav-link dropdown-toggle" href="javascript:void(0);" data-v-class-if-dropdown-toggle="category.children > 0" aria-expanded="false" data-v-menu-item-url>
                <span data-v-menu-item-name data-v-if-not="category.type = 'text'"></span>
                <span data-v-menu-item-content>
                  <p>
                    <img src="/media/vvveb.svg" height="24" alt="" class="me-2">Mega menu
                  </p>
                </span>
              </a>

              <div class="dropdown-menu" data-v-menu-item-recursive>
                <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                    <span data-v-menu-item-name data-v-if-not="category.type = 'text'"></span>
                    <span data-v-menu-item-content>
                      <div class="row">
                        <div class="col-6 align-self-center">
                          <img src="img/demo/video-1.jpg" alt="Post" width="250" loading="lazy" class="rounded">
                        </div>
                        <div class="col-6">
                          <h4>Features</h4>
                          <p class="text-muted">Just a few mentions, but there is more</p>
                          <ul class="list-unstyled">
                            <li class="text-primary">Page builder</li>
                            <li class="text-primary">Mega menu</li>
                            <li class="text-primary">Multi language</li>
                            <li class="text-primary">Advanced SEO</li>
                            <li class="text-primary">Ecommerce</li>
                          </ul>
                        </div>
                      </div>
                    </span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                    <span data-v-menu-item-name data-v-if-not="category.type = 'text'">Developer Documentation</span>
                    <span data-v-menu-item-content></span>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown position-static" data-v-menu-item data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text">

              <a class="nav-link" href="https://themes.vvveb.com" data-v-if="category.children <= 0" data-v-menu-item-url>
                <span data-v-menu-item-name>Pages</span>
              </a>

              <a class="nav-link dropdown-toggle" href="javascript:void(0);" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-expanded="false" data-v-menu-item-url>
                <span data-v-menu-item-name>Pages</span>
              </a>

              <div class="dropdown-menu" data-v-menu-item-recursive>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="index-no-sidebar.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Blog no sidebar</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/index.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Blog with sidebar</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/index-excerpts.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Blog with excerpts</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/post-image-header.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Post image header</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/post-image-hero.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Post image hero</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/post.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Post</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/page.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Page</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/archive.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Archive</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/tag.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Tag</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/category.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>Category</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="content/user.html" data-v-menu-item-url>
                    <span data-v-menu-item-name>User</span>
                  </a>
                </div>
              </div>
            </li>

            <li class="nav-item" data-v-menu-item>
              <a class="nav-link" href="content/index.html" data-v-menu-item-url>
                <span data-v-menu-item-name>Blog</span>
              </a>
            </li>
            <li class="nav-item" data-v-menu-item>
              <a class="nav-link" href="contact.html" data-v-menu-item-url>
                <span data-v-menu-item-name>Contact</span>
              </a>
            </li>
            <li class="nav-item dropdown has-dropdown" data-v-menu-item>

              <a class="nav-link dropdown-toggle" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" data-v-menu-item-url>
                <span data-v-menu-item-name>Resources</span>
              </a>

              <div class="dropdown-menu" data-v-menu-item-recursive>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                    <span data-v-menu-item-name>User Documentation</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                    <span data-v-menu-item-name>Developer Documentation</span>
                  </a>
                </div>
              </div>

            </li>
            <li class="nav-item" data-v-menu-item>
              <a class="nav-link" href="content/page.html" data-v-menu-item-url>
                <span data-v-menu-item-name>About us</span>
              </a>
            </li>
            <li class="nav-item">
              <a id="color-theme-switch" class="nav-link" href="javascript:void(0);" role="button" title="Switch sidebar color theme">
                <i class="la la-sun la-lg"></i>
              </a>
            </li>
            <li>
              <!-- User Login Info -->
              <div class="dropdown user-box nav-item">
                <a class="dropdown-toggle nav-link " href role="button" id="user-dropdown" data-bs-toggle="dropdown" aria-expanded="false" data-v-url="user/index">
                  <!-- <img src="img/user.svg" loading="lazy" width="20" alt> -->
                  <i class="la la-lg la-user"></i>
                  <span class="visually-hidden">User</span>
                </a>

                <div class="dropdown-menu dropdown-menu-end login-box p-4" aria-labelledby="user-dropdown">

                  <div data-v-component-user>

                    <div class="notifications" data-v-notifications>

                      <div class="alert alert-danger d-flex alert-dismissable" role="alert" data-v-notification-error data-v-type="login">

                        <div class="icon align-middle me-2">
                          <i class="align-middle la la-2x lh-1 la-exclamation-triangle"></i>
                        </div>

                        <div class="flex-grow-1 align-self-center text-small">
                          <div>
                            <div data-v-notification-text>
                              This is a placeholder for a notification message.
                            </div>
                          </div>
                        </div>


                        <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">
                            <!-- <i class="la la-times"></i> -->
                          </span>
                        </button>
                      </div>

                      <div class="alert alert-success d-flex  alert-dismissable d-flex" role="alert" data-v-notification-success data-v-type="login">

                        <div class="icon align-middle me-2">
                          <i class="align-middle la la-2x lh-1 la-check-circle"></i>
                        </div>

                        <div class="flex-grow-1 align-self-center align-middle" data-v-notification-text>
                          This is a placeholder for a success message.
                        </div>

                        <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">
                            <!-- <i class="la la-times"></i> -->
                          </span>
                        </button>
                      </div>

                      <div class="alert alert-primary d-flex alert-dismissable d-flex" role="alert" data-v-notification-info data-v-type="login">

                        <div class="icon align-middle me-2">
                          <i class="align-middle la la-2x lh-1  la-info-circle"></i>
                        </div>

                        <div class="flex-grow-1 align-self-center" data-v-notification-text>
                          This is a placeholder for a info message.
                        </div>

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">
                            <!-- <i class="la la-times"></i> -->
                          </span>
                        </button>
                      </div>

                    </div>


                    <form action method="post" enctype="multipart/form-data" data-v-url="user/login" data-v-vvveb-action="login" data-v-vvveb-on="submit" class="login-form">

                      <input type="hidden" name="csrf" data-v-csrf>

                      <div class="login-form" data-v-if-not="component.user_id">

                        <div class="mb-3">
                          <label class="form-label" for="input-email">E-Mail Address</label>
                          <input type="email" name="email" value placeholder="E-Mail Address" id="input-email" class="form-control" required>
                        </div>

                        <div class="mb-3">
                          <label class="form-label" for="input-password">Password</label>
                          <input type="password" minlength="4" autocorrect="off" autocomplete="current-password" name="password" value="" placeholder="Password" id="input-password" class="form-control" required>
                        </div>

                        <button type="submit" value="Login" class="btn btn-primary btn-login w-100">

                          <span class="loading d-none">
                            <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                            </span>
                            <span>Authenticating</span>...
                          </span>

                          <span class="button-text">
                            Login <i class="la la-arrow-right float-end ms-2"></i>
                          </span>

                        </button>
                        <div class="my-2"></div>
                        <a href="/user/reset" data-v-url="user/reset/index" class="my-2">Forgotten Password</a>

                        <div class="my-2"></div>
                        <!--
					<a href="javascript:void(0);">
			<span class="btn btn-secondary btn-sm">
							  <i class="lab la-google la-lg"></i>
						</span>
					</a>
					<a href="javascript:void(0);">
			<span class="btn btn-secondary btn-sm">
						  <i class="lab la-facebook la-lg"></i>
						</span>
		</a> -->
                        <hr>
                        <span>Don’t have an account?</span>
                        <a href="/user/signup" data-v-url="user/signup/index">Register Account</a>

                      </div>


                      <div class="user-form" data-v-if="component.user_id">
                        <div>Welcome <b data-v-user-first_name data-filter-capitalize>John</b>
                          <b data-v-user-last_name data-filter-capitalize>Doe</b>
                        </div>

                        <ul class="m-2 list-unstyled">
                          <li>
                            <a href="user" data-v-url="user/index">My account</a>
                          </li>
                          <li>
                            <a href="user/comments" data-v-url="user/comments/index">Comments</a>
                          </li>
                          <li>
                            <a href="user/orders" data-v-url="user/orders/index">Orders</a>
                          </li>
                          <li>
                            <a href="user/downloads" data-v-url="user/downloads/index">Downloads</a>
                          </li>
                          <li>
                            <a href="user/profile" data-v-url="user/profile/index">Profile</a>
                          </li>
                        </ul>


                        <input type="hidden" name="logout">

                        <button type="submit" value="logout" class="btn btn-primary w-100">

                          <span class="loading d-none">
                            <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                            </span>
                            <span>Loading ...</span>...
                          </span>

                          <span class="button-text">
                            Logout
                          </span>

                        </button>
                      </div>
                    </form>


                  </div>
                </div>
              </div>

            </li>
          </ul>


          <form class="d-flex">

            <div class="input-group">
              <!-- input type="text" class="form-control" placeholder="Search for..." -->
              <span class="input-group-append">
                <button class="btn la-flip-horizontal" type="button">

                  <i class="la la-search"></i>
                </button>
              </span>
            </div>

          </form>
        </div>



      </div>
    </nav>

  </header>


  <main id="site-content" role="main">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-7 col-lg-8 col-xl-9" data-v-component-posts="popular" data-v-limit="10" data-v-tags="5" data-v-categories="3" data-v-image_size="large">

          <!-- Blog Post -->

          <article class="card  post-archive-item post" data-v-post data-v-if="posts.count > 0">
            <div class="card-header">

              <a class="post-title" href="content/post.html" data-v-post-url>
                <h2 class="card-title display-4 text-center" data-aos="fade" data-aos-duration="500" data-v-post-name>Begin each day by telling yourself</h2>
              </a>


              <div class="post-meta-wrapper post-meta-single post-meta-single-top" data-aos="fade-up" data-aos-duration="200">

                <ul class="post-meta">

                  <li class="post-author meta-wrapper">
                    <span class="meta-icon">
                      <span class="screen-reader-text">Post author</span>
                      <i class="la la-user"></i>
                    </span>
                    <span class="meta-text">
                      By <a href="content/post.html" data-v-post-author-url>
                        <span data-v-post-display_name>admin</span>
                      </a>
                    </span>
                  </li>

                  <li class="post-date meta-wrapper">
                    <span class="meta-icon">
                      <span class="screen-reader-text">Post date</span>

                      <i class="la la-calendar"></i>
                    </span>
                    <span class="meta-text">
                      <a href="content/post.html" data-v-post-url>
                        <span data-v-post-created_at data-filter-friendly_date>December 31, 2020</span>
                      </a>
                    </span>
                  </li>
                  <li class="post-comment-link meta-wrapper">
                    <span class="meta-icon">
                      <i class="la la-comment"></i>
                    </span>
                    <span class="meta-text">
                      <a href="#comments" data-v-post-comments-url>
                        <span data-v-post-comment_text>0 Comments</span>
                      </a>
                    </span>
                  </li>

                </ul><!-- .post-meta -->

              </div>
            </div>


            <img class="img-fluid" src="http://place-hold.it/1200x300" loading="lazy" alt="Card image cap" data-aos="zoom-in-up" data-aos-duration="200" data-v-post-image data-v-if="post.image">

            <div class="card-body">

              <div class="card-text post-content" data-v-post-content="">
                <p>
                  Begin each day by telling yourself:
                </p>

                <blockquote cite="https://en.wikipedia.org/wiki/Marcus_Aurelius">
                  <p>Today I shall be meeting with interference, ingratitude, insolence, disloyalty, ill-will, and selfishness all of them due to the offenders` ignorance of what is good or evil.</p>
                  <cite class="small">
                    <a href="https://en.wikipedia.org/wiki/Marcus_Aurelius" class="text-decoration-none" target="_blank">Marcus Aurelius</a>
                  </cite>
                </blockquote>

                <p>
                  But for my part I have long perceived the nature of good and its nobility, the nature of evil and its meanness, and also the nature of the culprit himself, who is my brother (not in the physical sense, but as a fellow creature similarly endowed with reason and a share of the divine);therefore none of those things can injure me, for nobody can implicate me in what is degrading.
                </p>

                <p>
                  <img class="img-fluid" src="http://place-hold.it/1200x300">
                </p>

                <p>
                  Neither can I be angry with my brother or fall foul of him; for he and I were born to work together, like a man`s two hands, feet or eyelids, or the upper and lower rows of his teeth.
                </p>

                <p>
                  To obstruct each other is against Nature`s law - and what is irritation or aversion but a form of obstruction.
                </p>

                <div>
                  <img class="img-fluid align-center" src="http://place-hold.it/1200x300">
                </div>

                <p>
                  Consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi.
                </p>

                <p>
                  <img class="img-fluid align-right" src="http://place-hold.it/150x150">
                </p>

                <p>
                  Nullam vel orci dui. Su spendisse sit amet laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem.
                </p>
                <p>
                  Quisque in porttitor magna, a imperdiet est. Donec accumsan justo nulla, sit amet varius urna laoreet vitae. Maecenas feugiat fringilla metus.
                </p>

                <p>
                  <img class="img-fluid align-left" src="http://place-hold.it/150x150">
                </p>

                <p>
                  Nullam vel orci dui. Su spendisse sit amet laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem.
                </p>
                <p>
                  Quisque in porttitor magna, a imperdiet est. Donec accumsan justo nulla, sit amet varius urna laoreet vitae. Maecenas feugiat fringilla metus.
                </p>
              </div>

            </div>

            <div class="card-footer text-muted">

              <div class="d-flex tags">
                <div data-v-categories>
                  <div data-v-if="categories > 0" class="me-4">
                    <i class="la la-archive"></i>
                    <ul class="tags d-inline-block">
                      <li data-v-categories-cat>
                        <a href="javascript:void(0);" data-v-categories-cat-url>
                          <span data-v-categories-cat-name>cat 1</span>
                        </a>
                      </li>
                      <li data-v-categories-cat>
                        <a href="javascript:void(0);" data-v-tag-url>
                          <span data-v-cat-name>cat 2</span>
                        </a>
                      </li>
                      <li data-v-categories-cat>
                        <a href="javascript:void(0);" data-v-cat-url>
                          <span data-v-cat-name>cat 3</span>
                        </a>
                      </li>
                      <li data-v-categories-cat>
                        <a href="javascript:void(0);" data-v-cat-url>
                          <span data-v-cat-name>cat 4</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div data-v-tags>
                  <div data-v-if="tags > 0">
                    <i class="la la-tag"></i>
                    <ul class="tags d-inline-block">
                      <li data-v-tags-tag>
                        <a href="javascript:void(0);" data-v-tags-tag-url>
                          <span data-v-tags-tag-name>tag 1</span>
                        </a>
                      </li>
                      <li data-v-tags-tag>
                        <a href="javascript:void(0);" data-v-tag-url>
                          <span data-v-cat-name>tag 2</span>
                        </a>
                      </li>
                      <li data-v-tags-tag>
                        <a href="javascript:void(0);" data-v-tag-url>
                          <span data-v-cat-name>tag 3</span>
                        </a>
                      </li>
                      <li data-v-tags-tag>
                        <a href="javascript:void(0);" data-v-tag-url>
                          <span data-v-cat-name>tag 4</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


              <!--
		<a class="float-end" href="content/post.html" data-v-post-url><span>Read More </span></a>
		-->
            </div>

          </article>


          <div data-v-if="posts.count < 1">
            <h3 class="text-center py-4 bg-body-tertiary">No posts to display!</h3>
          </div>

          <div data-pagination data-v-parent-component="posts" data-v-parent-index="0" data-v-parameters='{}'>

            <nav data-v-if="pagecount > 1">
              <ul class="pagination pagination-sm justify-content-center" style="--bs-pagination-border-color:transparent;border-top: 1px solid var(--bs-border-color);padding-top: 1rem;">

                <!--
			<li class="page-item pager-first" data-first>
				<a class="page-link" title="First page" href="javascript:void(0);" data-page-url data-v-if="current_page > 1">
					<span aria-hidden="true" class="la la-angle-double-left"></span>
					<span class="sr-only">First</span>
				</a>
			</li>
			-->

                <li class="page-item pager-prev" data-prev>

                  <a class="page-link" href="javascript:void(0);" aria-label="Previous" title="Previous page" data-page-url data-v-if="current_page > 1">
                    <span aria-hidden="true" class="la la-angle-left la-lg"></span>
                    <!-- <span>Newer Posts</span> -->
                  </a>

                </li>



                <li class="page-item" data-page>
                  <a class="page-link" href="javascript:void(0);" data-page-no data-page-url>1</a>
                </li>
                <li class="page-item" data-page>
                  <a class="page-link" href="javascript:void(0);" data-page-no data-page-url>2</a>
                </li>
                <li class="page-item" data-page>
                  <a class="page-link" href="javascript:void(0);" data-page-no data-page-url>3</a>
                </li>
                <li class="page-item" data-page>
                  <a class="page-link" href="javascript:void(0);" data-page-no data-page-url>4</a>
                </li>
                <li class="page-item" data-page>
                  <a class="page-link" href="javascript:void(0);" data-page-no data-page-url>5</a>
                </li>

                <li class="page-item pager-next" data-next>
                  <a class="page-link" href="javascript:void(0);" aria-label="Next" title="Next page" data-page-url data-v-if="current_page < pagecount">
                    <!-- <span>Older Posts</span> -->
                    <span aria-hidden="true" class="la la-angle-right la-lg"></span>
                  </a>
                </li>

                <!--
			<li class="page-item pager-last" data-last>
				<a class="page-link" title="Last page" href="javascript:void(0);" data-page-url data-v-if="current_page < pagecount">
				<span aria-hidden="true" class="la la-angle-double-right"></span>
					<span class="sr-only">Last</span>
				</a>
			</li>
			-->

              </ul>
            </nav>
          </div>



          <!-- Pagination -->
          <!--
<ul class="pagination justify-content-center mb-4" data-pagination data-v-parent-component="posts" data-v-parent-index="0">
  <li class="page-item" data-prev>
	<a class="page-link" href="javascript:void(0);" data-page-url>Older</a>
  </li>
  <li class="page-item" data-next>
	<a class="page-link" href="javascript:void(0);" data-page-url>Newer</a>
  </li>
</ul>
-->



        </div>

        <!-- Sidebar Widgets Column -->
        <aside class="col-md-5 col-lg-4 col-xl-3" role="sidebar">

          <div class="sidebar-sticky">
            <!-- Search Widget -->
            <div class="card">
              <!-- h6 class="card-header">Search</h6 -->
              <div class="card-body">
                <form method="get" action="/search">
                  <input type="hidden" name="type" class="posts">
                  <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search for...">
                    <button class="btn btn-secondary" type="submit">
                      <div class="la-flip-horizontal">
                        <i class="la la-search  la-flip-horizontal"></i>
                      </div>
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <!-- About Widget -->
            <div class="card" data-v-component-site>
              <h6 class="card-header">About</h6>
              <div class="card-body" data-v-site-description-description>
                Powerful and easy to use drag and drop website builder for blogs, presentation or ecommerce stores.
              </div>
            </div>

            <!-- Recent posts Widget -->
            <div class="card archives-widget" data-v-component-posts="recent-posts-sidebar" data-v-limit="4">
              <div>
                <h6 class="card-header">Recent posts</h6>
                <div class="card-body">
                  <div data-v-post>
                    <i class="la la-comment"></i>
                    <a href="content/post.html" data-v-post-url>
                      <span data-v-post-name>January 2021</span>
                    </a>
                  </div>
                  <div data-v-post>
                    <i class="la la-comment"></i>
                    <a href="content/post.html" data-v-post-url>
                      <span data-v-post-name>January 2021</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Recent comments Widget -->
            <div class="card archives-widget" data-v-component-comments="recent-comments-sidebar" data-v-limit="4" data-v-post_title="true" data-v-order="desc">
              <div>
                <h6 class="card-header">Recent comments</h6>
                <div class="card-body">
                  <div data-v-comment>
                    <span data-v-comment-author>John Doe</span>
                    <span>on</span>
                    <a href="content/post.html#comments" data-v-comment-url>
                      <span data-v-comment-name>Post name</span>
                    </a>
                  </div>
                  <div data-v-comment>
                    <span data-v-comment-author>John Doe</span> on
                    <a href="content/post.html#comments" data-v-comment-url>
                      <span data-v-comment-name>Post name</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Categories Widget -->
            <div class="card categories-widget" data-v-component-content-categories="sidebar" data-v-type="categories" data-v-post_type="post">
              <div>
                <h6 class="card-header">Categories</h6>
                <div class="card-body">
                  <ul data-v-cats>
                    <li data-v-cat>
                      <a href="content/category.html" data-v-cat-url data-v-cat-name>Web Design</a>
                    </li>
                    <li data-v-cat>
                      <a href="content/category.html" data-v-cat-url data-v-cat-name>HTML</a>
                    </li>
                    <li data-v-cat>
                      <a href="content/category.html" data-v-cat-url data-v-cat-name>Freebies</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Archives Widget -->
            <div class="card archives-widget" data-v-component-content-archives="sidebar">
              <div>
                <h6 class="card-header">Archives</h6>
                <div class="card-body">
                  <ul data-v-archives>
                    <li data-v-archive>
                      <a href="content/archive.html" data-v-archive-url>
                        <span data-v-archive-name>January 2021</span>
                      </a>
                    </li>
                    <li data-v-archive>
                      <a href="content/archive.html" data-v-archive-url>
                        <span data-v-archive-name>December 2020</span>
                      </a>
                    </li>
                    <li data-v-archive>
                      <a href="content/archive.html" data-v-archive-url>
                        <span data-v-archive-name>November 2018</span>
                      </a>
                    </li>
                    <li data-v-archive>
                      <a href="content/archive.html" data-v-archive-url>
                        <span data-v-archive-name>October 2018</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Popular tags Widget -->
            <div class="card tags-widget" data-v-component-content-categories="sidebar" data-v-type="tags" data-v-post_type="post">
              <div>
                <h6 class="card-header">Popular tags</h6>
                <div class="card-body">
                  <ul data-v-cats class="tags">
                    <li data-v-cat>
                      <a href="content/tag.html" data-v-cat-url data-v-cat-name>January 2021</a>
                    </li>
                    <li data-v-cat>
                      <a href="content/tag.html" data-v-cat-url data-v-cat-name>December 2020</a>
                    </li>
                    <li data-v-cat>
                      <a href="content/tag.html" data-v-cat-url data-v-cat-name>November 2018</a>
                    </li>
                    <li data-v-cat>
                      <a href="content/tag.html" data-v-cat-url data-v-cat-name>October 2018</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <!-- Archives Widget Select -->
            <div class="card archives-widget" data-v-component-content-archives="sidebar">
              <div>
                <h6 class="card-header">Archives</h6>
                <div class="card-body">
                  <select class="form-control" onchange="window.location.href = this.value" data-v-archives>
                    <option class="text-muted">
                      <span>Select month</span>
                    </option>

                    <option data-v-archive value="content/archive.html">
                      <span data-v-archive-name>January 2021</span>
                    </option>

                    <option data-v-archive value="content/archive.html">
                      <span data-v-archive-name>December 2020</span>
                    </option>

                    <option data-v-archive value="content/archive.html">
                      <span data-v-archive-name>November 2018</span>
                    </option>

                    <option data-v-archive value="content/archive.html">
                      <span data-v-archive-name>October 2018</span>
                    </option>
                  </select>

                </div>
              </div>
            </div>

          </div>

        </aside>



      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </main>

  <footer class="site-footer" data-v-save-global="index.html,.site-footer">
    <div class="container" data-v-component-menu="footer" data-v-menu_id="5">

      <div class="row" data-v-menu-items>

        <div class="col-md-3">

          <div data-v-component-site>
            <img src="img/logo-white.png" class="logo-default-dark" data-v-site-logo-dark>
            <img src="img/logo.png" class="logo-default" data-v-site-logo>
          </div>

        </div>


        <div class="col-md-3" data-v-menu-item data-v-if="category.children > 0">
          <h6 data-v-menu-item-name>Vvveb</h6>
          <nav data-v-menu-item-recursive>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://themes.vvveb.com/" data-v-menu-item-url>
                <span data-v-menu-item-name>Themes</span>
              </a>
            </div>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://plugins.vvveb.com/" data-v-menu-item-url>
                <span data-v-menu-item-name>Plugins</span>
              </a>
            </div>
          </nav>
        </div>

        <div class="col-md-3" data-v-menu-item data-v-if="category.children > 0">
          <h6 data-v-menu-item-name>Resources</h6>
          <nav data-v-menu-item-recursive>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                <span data-v-menu-item-name>User documentation</span>
              </a>
            </div>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                <span data-v-menu-item-name>Developer documentation</span>
              </a>
            </div>
          </nav>
        </div>

        <div class="col-md-3" data-v-menu-item data-v-if="category.children > 0">
          <h6 data-v-menu-item-name>Contact</h6>
          <nav data-v-menu-item-recursive>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="" src="contact.html">Contact</a>
            </div>
          </nav>
        </div>



      </div>
      <!--
		<div class="row justify-content-end">
			<div class="col-md-3 text-muted text-small mt-5">
				&copy; <span data-v-year>2025</span> <span data-v-sitename>Vvveb</span>. Powered by <a href="https://vvveb.com" target="_blank">Vvveb</a>	
			</div>
		</div>
		-->

    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="d-flex flex-column flex-md-row">
          <div class="text-muted flex-grow-1">
            <a class="btn-link text-muted" href="content/page.html" target="_blank">Terms and conditions</a> |
            <a class="btn-link text-muted" href="content/page.html" target="_blank">Privacy Policy</a>
          </div>
          <div class="text-muted">
            &copy; <span data-v-year>2025</span>
            <span data-v-global-site.description.title>Vvveb</span>. <span>Powered by</span>
            <a href="https://vvveb.com" class="btn-link text-muted" target="_blank">Vvveb</a>
          </div>
        </div>
      </div>
    </div>

  </footer>


  <div class="bg-image"></div>

  <div class="alert alert-light alert-dismissible fade alert-top" role="alert" style="display:none">
    <div class="container">

      <div class="message">
        Product was added to cart.
      </div>


      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <!-- Vvveb Common Js -->
  <script src="js/jquery.min.js"></script>
  <!-- <script src="js/popper.min.js"></script> -->
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Vvveb Ajax Common Js -->
  <script id="app-js" src="../../js/app.js"></script>

  <!-- Animation -->
  <script src="js/aos.js"></script>
  <script>
AOS.init();
</script>

  <script src="js/theme.js"></script>

  <script>
$(document).on("click", ".dropdown-toggle",function (e) { 
	let link = $(this);
	let parent = link.parents(".nav-toggle");
	if (link.hasClass("show")) {
		parent.addClass("show"); 
	} else {
		parent.removeClass("show"); 
	}
});

/*	
setTimeout(function() {
	document.getElementById("screen").attributes["class"].value = "show"
}, 500);

(function() {

  var hamburger = {
    navToggle: document.querySelector('.navbar-toggler'),
    nav: document.querySelector('.navbar-collapse'),

    doToggle: function(e) {
      //e.preventDefault();
      this.navToggle.classList.toggle('show');
      this.nav.classList.toggle('show');
    }
  };

  hamburger.navToggle.addEventListener('click', function(e) { hamburger.doToggle(e); });
  hamburger.nav.addEventListener('click', function(e) { hamburger.doToggle(e); });

}());
*/
</script>


</body>

</html>