 <div class="collapse navbar-collapse flex-grow-1 text-end" id="navbar" data-v-component-menu="header" data-v-slug="main-menu">
	<ul class="navbar-nav ms-auto flex-nowrap" data-v-menu-items>
	  <li class="nav-item dropdown position-static" data-v-menu-item data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text">
		
		<a class="nav-link dropdown-toggle" href="#" data-v-class-if-dropdown-toggle="category.children > 0" data-v-class-if-active="category.active"  aria-expanded="false" data-v-menu-item-url>
			<span data-v-menu-item-name data-v-if-not="category.type = 'text'"></span>
			<span data-v-menu-item-content>
				<p><img src="/media/vvveb.svg" height="24" alt="" class="me-2">Mega menu</p>
			</span>
		</a>
		
		<div class="dropdown-menu" data-v-menu-item-recursive>
		  <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children > 0">
			<a class="dropdown-item" data-v-class-if-active="category.active"  href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
				<span data-v-menu-item-name data-v-if-not="category.type = 'text'"></span>
				<span data-v-menu-item-content>
					<div class="row">
						<div class="col-6 align-self-center"><img src="img/demo/video-1.jpg" alt="Post" width="250" loading="lazy" class="rounded img-fluid"></div>
						<div class="col-6">
							<h4>Features</h4>
							<p class="text-muted">Just a few mentions, but there is more</p>
							<ul class="list-unstyled">
								<li class="text-primary">Page builder</li>
								<li class="text-primary">Mega menu</li>
								<li class="text-primary">Multi language</li>
								<li class="text-primary">Advanced SEO</li>
								<li class="text-primary">Ecommerce</li>
							</ul>
						</div>
					</div>
				</span>
			</a>
		  </div> 
		  <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children > 0">
			<a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-class-if-active="category.active"  data-v-menu-item-url>
				<span data-v-menu-item-name data-v-if-not="category.type = 'text'">Developer Documentation</span>
				<span data-v-menu-item-content></span>
			</a>
		  </div> 
		</div>
	  </li>
	  <li class="nav-item dropdown position-static" data-v-menu-item data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text">
			
				<a class="nav-link" href="https://themes.vvveb.com" data-v-if="category.children <= 0"  data-v-menu-item-url><span data-v-menu-item-name>Pages</span></a>

				<a class="nav-link dropdown-toggle" href="#" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-expanded="false" data-v-menu-item-url>
					<span data-v-menu-item-name>Pages</span>
				</a>
				
				<div class="dropdown-menu" data-v-menu-item-recursive>
				  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
					<a class="dropdown-item" href="index-no-sidebar.html" data-v-menu-item-url><span data-v-menu-item-name>Blog no sidebar</span></a>
				  </div> 
				  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
					<a class="dropdown-item" href="content/index.html" data-v-menu-item-url><span data-v-menu-item-name>Blog with sidebar</span></a>
				  </div> 
				  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
					<a class="dropdown-item" href="content/index-excerpts.html" data-v-menu-item-url><span data-v-menu-item-name>Blog with excerpts</span></a>
				  </div> 
				  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
					<a class="dropdown-item" href="content/post-image-header.html" data-v-menu-item-url><span data-v-menu-item-name>Post image header</span></a>
				  </div> 
				  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
					<a class="dropdown-item" href="content/post-image-hero.html" data-v-menu-item-url><span data-v-menu-item-name>Post image hero</span></a>
				  </div> 
				  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
					<a class="dropdown-item" href="content/post.html" data-v-menu-item-url><span data-v-menu-item-name>Post</span></a>
				  </div> 
				  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
					<a class="dropdown-item" href="content/page.html" data-v-menu-item-url><span data-v-menu-item-name>Page</span></a>
				  </div> 
				  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
					<a class="dropdown-item" href="content/archive.html" data-v-menu-item-url><span data-v-menu-item-name>Archive</span></a>
				  </div> 
				  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
					<a class="dropdown-item" href="content/tag.html" data-v-menu-item-url><span data-v-menu-item-name>Tag</span></a>
				  </div> 
				  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
					<a class="dropdown-item" href="content/category.html" data-v-menu-item-url><span data-v-menu-item-name>Category</span></a>
				  </div> 
				  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
					<a class="dropdown-item" href="content/user.html" data-v-menu-item-url><span data-v-menu-item-name>User</span></a>
				  </div> 
				</div>
		  </li>
		  
		  <li class="nav-item" data-v-menu-item>
			<a class="nav-link" href="content/index.html"  data-v-menu-item-url><span data-v-menu-item-name>Blog</span></a>
		  </li>
		  <li class="nav-item" data-v-menu-item>
			<a class="nav-link" href="contact.html"  data-v-menu-item-url><span data-v-menu-item-name>Contact</span></a>
		  </li>
		  <li class="nav-item dropdown has-dropdown" data-v-menu-item>
			
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" data-v-menu-item-url>
				<span data-v-menu-item-name>Resources</span>
			</a>
			
			<div class="dropdown-menu" data-v-menu-item-recursive>
			  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
				<a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url><span data-v-menu-item-name>User Documentation</span></a>
			  </div> 
			  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
				<a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url><span data-v-menu-item-name>Developer Documentation</span></a>
			  </div> 
			</div>
			
		  </li>		
		  <li class="nav-item" data-v-menu-item>
			<a class="nav-link" href="content/page.html"  data-v-menu-item-url><span data-v-menu-item-name>About us</span></a>
		  </li>
		  <li class="nav-item ms-3">
			<a id="color-theme-switch" class="nav-link" href="#" role="button" title="Switch sidebar color theme">
				<i class="la la-sun la-lg"></i>
			</a>
		  </li>
		  <li>
			@@include('../_includes/user-dropdown.html')
		  </li>
		</ul>
		

	<button class="btn btn-outline-secondary border-0" type="submit" title="Search" data-bs-toggle="modal" data-bs-target="#searchModal">
		<div class="la-flip-horizontal">
			<i class="la la-search la-lg" aria-hidden="true"></i>
		</div>
	</button>
		
</div>
