<section class="posts-1" aria-label="latest-post-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2 class="text-center display-6 mb-1 fw-bold">Latest Posts</h2>
          <p class="lead text-center text-muted mb-4">Fresh updates from the industry.</p>
        </div>
      </div>
    </div>
  </div>



  <div class="container" data-v-component-posts="posts-1" data-v-limit="3" data-v-image_size="medium">
    <div class="row">



      <div class="col-12 col-lg-4 mb-2" data-aos="fade-up" data-aos-delay="000" data-v-post>

        <article class="card h-100 shadow-sm">
          <div class="card-img-top" data-v-if="post.image">
            <img src="demo/img/video-1.webp" alt="" class="w-100" loading="lazy" data-v-size="thumb" data-v-post-image>
          </div>
          <!-- Post Title -->
          <a data-v-post-url>
            <div class="card-body p-4">
              <div class="post-title card-title">
                <h3 class="h4 mb-3" data-v-post-name>
                  Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
                </h3>
              </div>
              <!-- Hover Content -->
              <p class="card-text text-muted" data-v-post-excerpt>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.</p>
              <button title="{$post.name}" role="button" class="btn btn-link px-0">
                <span>Read more</span>
                <i class="la la-angle-right"></i>
              </button>
            </div>
          </a>
        </article>


      </div>



      <div class="col-12 col-lg-4 mb-2" data-aos="fade-up" data-aos-delay="100" data-v-post>

        <article class="card h-100 shadow-sm">
          <div class="card-img-top" data-v-if="post.image">
            <img src="demo/img/video-1.webp" alt="" class="w-100" loading="lazy" data-v-size="thumb" data-v-post-image>
          </div>
          <!-- Post Title -->
          <a data-v-post-url>
            <div class="card-body p-4">
              <div class="post-title card-title">
                <h3 class="h4 mb-3" data-v-post-name>
                  Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
                </h3>
              </div>
              <!-- Hover Content -->
              <p class="card-text text-muted" data-v-post-excerpt>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.</p>
              <button title="{$post.name}" role="button" class="btn btn-link px-0">
                <span>Read more</span>
                <i class="la la-angle-right"></i>
              </button>
            </div>
          </a>
        </article>


      </div>



      <div class="col-12 col-lg-4 mb-2" data-aos="fade-up" data-aos-delay="200" data-v-post>

        <article class="card h-100 shadow-sm">
          <div class="card-img-top" data-v-if="post.image">
            <img src="demo/img/video-1.webp" alt="" class="w-100" loading="lazy" data-v-size="thumb" data-v-post-image>
          </div>
          <!-- Post Title -->
          <a data-v-post-url>
            <div class="card-body p-4">
              <div class="post-title card-title">
                <h3 class="h4 mb-3" data-v-post-name>
                  Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
                </h3>
              </div>
              <!-- Hover Content -->
              <p class="card-text text-muted" data-v-post-excerpt>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.</p>
              <button title="{$post.name}" role="button" class="btn btn-link px-0">
                <span>Read more</span>
                <i class="la la-angle-right"></i>
              </button>
            </div>
          </a>
        </article>


      </div>



    </div>
  </div>
</section>