.post { 
	margin-bottom:0rem;
	
	.post-archive-item {
		margin-bottom:2rem;
	}
	
	@import "post-style";


	.card-header {
		margin-bottom:0rem;
	}

	.card-footer {
		/* padding: 0.5rem 1rem; */
		padding:0 0rem 1rem;
		//width: 35rem;
		//margin: 0 auto;
	} 	
	
      .post-meta {
       list-style:none;
       text-align:center;
       margin-bottom:2rem;

       li {
               margin-right: 1rem;
               display: inline-block;
               margin-top: 0.5rem;
               color:var(--bs-body-color);
               
               i {
                       font-size:1.4rem;
					   line-height:1;
					   vertical-align: top;
               }
               
               a {
                       text-decoration:none;
                       color:var(--bs-body-color);
                       &:hover {
                               text-decoration:underline;
                       }
               }
		}
	}

}

.single-blog-post-thumb
{
	position:relative;
	max-height: 300px;
	overflow: hidden;

	.title-container
	{
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		align-content: center;
		align-items: center;	
		text-align:center;	
		z-index:1;
		padding:5rem 0 0rem;
		
		&::before
		{
			width: 100%;
			height: 100%;
			content: " ";
			background: rgba(var(--bs-body-bg-rgb),0.5);
			top: 0px;
			left: 0px;
			position: absolute;
			z-index: -1;
		}
		
		h1
		{
			width:100%;
			z-index:1;
		}
	}

	img
	{
		width: 100%;
		top: -30vw;
		position: absolute;
	}
}


/* comments */
.post-comments {
	position:relative;
	
	a {
		//color:#212529;
		text-decoration:none;
	}
}

.comment-author-avatar {
    position:absolute;
    left:-5rem;
    min-width: 60px;
    background: var(--bs-secondary-bg);
    min-height: 60px;
}

.comment {
	position:relative;
	
	&.level-1 {
		margin-left:1rem;
	}

	&.level-2 {
		margin-left:2rem;
	}

	&.level-3 {
		margin-left:3rem;
	}
}

.site-header {
	display:flex;
	flex-direction: column;
	position:relative;
	
	.background {
		position:absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transform: none;

		img {
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
		}

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			content: ""; 
			width: 100%;
			height: 100%;
			background-color: #000;
			background-color: var(--bs-body-bg);
			opacity: 0.7;
			z-index: 5;
		}
	}
	
	.title-container {
		position:relative;
		margin-top:auto;
		z-index:100;
	}
}
	
