<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sunnyside agency landing page</title>

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="css/style.bundle.css">


  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&amp;family=Fraunces:wght@700;900&amp;display=swap" rel="stylesheet">


</head>

<body>

  <header data-v-save-global="index.html,header">

    <div class="container">
      <nav class="navbar" data-navbar data-v-component-menu="header" data-v-slug="main-menu">

        <div class="navbar-brand logo" data-v-component-site>
          <!-- <a class="navbar-brand" href="/" data-url data-v-url-params='{"host":"www.*.*"}'><span class="visually-hidden">Logo</span> -->
          <a class="navbar-brand h4 mb-0 text-decoration-none" href="/" data-v-site-url>
            <span class="visually-hidden">Logo</span>
            <img src="img/logo.png" alt="Site logo" loading="lazy" class="logo-default" data-v-site-logo>
            <img src="img/logo.png" alt="Site logo sticky" loading="lazy" class="logo-sticky" data-v-site-logo-sticky>
            <img src="img/logo-white.png" alt="Site logo dark" loading="lazy" class="logo-default-dark" data-v-site-logo-dark>
            <img src="img/logo-white.png" alt="Site logo dark sticky" loading="lazy" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky>
          </a>
        </div>

        <ul class="navbar-list m-0" data-v-menu-items>
          <li class="nav-item dropdown position-static" data-v-menu-item data-v-class-if-has-dropdown="category.children &gt; 0" data-v-class-if-position-static="category.has-text">

            <a class="navbar-link dropdown-toggle" data-v-class-if-dropdown-toggle="category.children &gt; 0" data-v-class-if-active="category.active" aria-expanded="false" data-v-menu-item-url>
              <span data-v-menu-item-name data-v-if-not="category.type = 'text' &amp;&amp; category.name"></span>
              <span data-v-if="category.content" data-v-menu-item-content>
                <p>
                  <img src="/media/vvveb.svg" height="24" alt="" class="me-2">Mega menu
                </p>
              </span>
            </a>

            <div class="dropdown-menu" data-v-menu-item-recursive>
              <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                <a class="dropdown-item" data-v-class-if-active="category.active &amp;&amp; category.type != 'text'" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                  <span data-v-menu-item-name data-v-if-not="category.type = 'text'"></span>
                  <span data-v-if="category.content" data-v-menu-item-content>
                    <div class="row">
                      <div class="col-6 align-self-center">
                        <img src="img/demo/video-1.webp" alt="Post" width="250" loading="lazy" class="rounded img-fluid">
                      </div>
                      <div class="col-6">
                        <h4>Features</h4>
                        <p class="text-muted">Just a few mentions, but there is more</p>
                        <ul class="list-unstyled">
                          <li class="text-primary">Page builder</li>
                          <li class="text-primary">Mega menu</li>
                          <li class="text-primary">Multi language</li>
                          <li class="text-primary">Advanced SEO</li>
                          <li class="text-primary">Ecommerce</li>
                        </ul>
                      </div>
                    </div>
                  </span>
                </a>
              </div>
              <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-class-if-active="category.active" data-v-menu-item-url>
                  <span data-v-menu-item-name data-v-if-not="category.type = 'text'">Developer Documentation</span>
                  <span data-v-menu-item-content></span>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown" data-v-menu-item>
            <a class="navbar-link dropdown-toggle" href="https://blog.vvveb.com" data-v-menu-item-url>
              <span data-v-menu-item-name>Blog</span>
            </a>

            <div class="dropdown-menu" data-v-menu-item-recursive>
              <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                  <span data-v-menu-item-name data-v-if-not="category.type = 'text'">User Documentation</span>
                  <span data-v-menu-item-content></span>
                </a>
              </div>
              <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                  <span data-v-menu-item-name data-v-if-not="category.type = 'text'">Developer Documentation</span>
                  <span data-v-menu-item-content></span>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item" data-v-menu-item>
            <a class="navbar-link" href="https://www.vvveb.com/page/contact" data-v-menu-item-url>
              <span data-v-menu-item-name>Contact</span>
            </a>
          </li>
          <li class="nav-item" data-v-menu-item>
            <a class="navbar-link" href="https://www.vvveb.com" data-v-menu-item-url>
              <span data-v-menu-item-name>About us</span>
            </a>
          </li>
        </ul>

        <a href="/page/contact" class="btn btn-primary">Contact</a>

        <button class="nav-toggle-btn">
          <span class="line one"></span>
          <span class="line two"></span>
          <span class="line three"></span>
        </button>

      </nav>
    </div>

  </header>

  <main id="site-content" role="main">


    <div class="container my-5">
      <div class="row">

        <div class="col-md-12 justify-content-center">

          <div class="notifications" data-v-notifications>

            <div class="alert alert-danger d-flex alert-dismissable" role="alert" data-v-notification-error>

              <div class="icon align-middle me-2">
                <i class="align-middle la la-2x lh-1 la-exclamation-triangle"></i>
              </div>

              <div class="flex-grow-1 align-self-center text-small">
                <div>
                  <div data-v-notification-text>
                    This is a placeholder for a notification message.
                  </div>
                </div>
              </div>


              <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                  <!-- <i class="la la-times"></i> -->
                </span>
              </button>
            </div>

            <div class="alert alert-success d-flex  alert-dismissable d-flex" role="alert" data-v-notification-success>

              <div class="icon align-middle me-2">
                <i class="align-middle la la-2x lh-1 la-check-circle"></i>
              </div>

              <div class="flex-grow-1 align-self-center align-middle" data-v-notification-text>
                This is a placeholder for a success message.
              </div>

              <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                  <!-- <i class="la la-times"></i> -->
                </span>
              </button>
            </div>

            <div class="alert alert-primary d-flex alert-dismissable d-flex" role="alert" data-v-notification-info>

              <div class="icon align-middle me-2">
                <i class="align-middle la la-2x lh-1  la-info-circle"></i>
              </div>

              <div class="flex-grow-1 align-self-center" data-v-notification-text>
                This is a placeholder for a info message.
              </div>

              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                  <!-- <i class="la la-times"></i> -->
                </span>
              </button>
            </div>

          </div>

          <div data-v-if="this.validOrder">
            <div data-v-customer_order_id="url" data-v-email="url" data-v-component-order>

              <h2>Order ID: <span data-v-order-customer_order_id>#001</span>
              </h2>

              <div class="table-responsive order-table table-bordered">
                <table class="table mb-0 text-nowrap align-middle" data-v-cart>
                  <thead>
                    <tr>
                      <th class="text-center">Image</th>
                      <th class="text-start">Product Name</th>
                      <!-- <th class="text-start">Model</th> -->
                      <th class="text-start">Quantity</th>
                      <th class="text-end">Unit Price</th>
                      <th class="text-end">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-v-order-product>
                      <td class="text-center order-img">
                        <a href="#40" data-v-order-product-url>
                          <img src="#" alt="Product name" class="img-rounded" data-v-order-product-image width=50 loading="lazy">
                        </a>
                      </td>
                      <td class="text-start">
                        <a href="#40" target="_blank" data-v-order-product-url>
                          <span data-v-order-product-name>Product name</span>
                        </a>

                        <div class="option" data-v-if="product.option_value">
                          <div class="" data-v-product-option>
                            <span data-v-product-option-option>Color</span>: <span data-v-product-option-name>Red</span>
                            <span data-v-if="value.price">(<span data-v-product-option-price_formatted></span>)</span>
                          </div>
                          <div class="" data-v-product-option>
                            <span data-v-product-option-option>Size</span>: <span data-v-product-option-name>XL</span>
                            <span data-v-if="value.price">(<span data-v-product-option-price_formatted></span>)</span>
                          </div>
                          <div class="" data-v-product-option>
                            <span data-v-product-option-option>Material</span>: <span data-v-product-option-name>Wool</span>
                            <span data-v-if="value.price">(<span data-v-product-option-price_formatted></span>)</span>
                          </div>
                        </div>

                        <div class="price">
                          <span data-v-order-product-price_tax_formatted>$160.40</span>
                        </div>
                      </td>

                      <!-- <td class="text-start">product 11</td> -->
                      <td class="text-start">
                        <span data-v-order-product-quantity>1</span>
                      </td>
                      <td class="text-end unit-price">
                        <span data-v-order-product-price_formatted>1</span>
                      </td>
                      <!-- <td class="text-end price" data-v-order-product-price>$123.20</td> -->
                      <td class="text-end total px-4">
                        <span data-v-order-product-tax_formatted>$146.40</span>
                      </td>
                    </tr>
                  </tbody>

                  <tfoot data-v-order-totals>
                    <tr data-v-order-totals-total>
                      <td colspan="4" class="text-end">
                        <small data-v-order-total-title>Sub-Total</small>:
                      </td>
                      <td class="text-end" data-v-order-total-value_formatted>$101.00</td>
                    </tr>
                    <tr data-v-order-totals-total>
                      <td colspan="4" class="text-end">
                        <small>Eco Tax (2.00):</small>
                      </td>
                      <td class="text-end">$2.00</td>
                    </tr>
                    <tr data-v-order-totals-total>
                      <td colspan="4" class="text-end">
                        <small>VAT (19%):</small>
                      </td>
                      <td class="text-end">$20.20</td>
                    </tr>
                    <tr data-v-order-totals-total>
                      <td colspan="4" class="text-end">
                        <small>Total:</small>
                      </td>
                      <td class="text-end">$123.20</td>
                    </tr>
                    <tr>
                      <td colspan="4" class="text-end">Total:</td>
                      <td class="text-end" data-v-order-total_formatted>$0</td>
                    </tr>
                  </tfoot>

                </table>

              </div>


              <div data-v-order>

                <div class="d-md-flex justify-content-between">
                  <div class="d-flex align-items-center mb-2 mb-md-0">
                    <span class="badge ms-2" data-v-order-order_status>Pending</span>
                  </div>
                </div>
                <div class="mt-4">
                  <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                      <div class="mb-6">
                        <div class="customer_details">
                          <div class="clearfix">
                            <h6 class="float-start">Customer Details</h6>
                          </div>
                          <div class="display mb-1 lh-lg">
                            <div data-v-order-first_name data-first_name-text>First Name</div>
                            <div data-v-order-last_name data-last_name-text>Last Name</div>
                            <div data-v-order-email data-email-text>mail@mail.com</div>
                            <div data-v-order-phone_number data-phone_number-text>12345678</div>

                            <a data-v-order-user_url data-v-if="this.order.user_id">
                              <span>View Profile</span>
                            </a>

                            <div data-v-if="this.order.comment">
                              <h6 class="mt-2">Order note</h6>
                              <div data-v-order-comment>12345678</div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                      <div class="mb-6">
                        <div class="order_details">
                          <div class="clearfix">
                            <h6 class="float-start">Order Details</h6>
                          </div>

                          <div class="display">
                            <p class="mb-1 lh-lg">
                            <table class="table table-borderless table-sm">
                              <tr>
                                <td>
                                  <span class="text-muted">Order ID:</span>
                                </td>
                                <td>
                                  <span data-v-order-order_id>001</span>
                                </td>
                              </tr>
                              <!--
			<tr>
				<td><span class="text-muted">Order Invoice:</span> </td>
				<td><span data-v-order-invoice_no>V1-</span></td>
			</tr>
			-->
                              <tr>
                                <td>
                                  <span class="text-muted">Order Date:</span>
                                </td>
                                <td>
                                  <details>
                                    <summary>
                                      <span>
                                        <span data-v-order-created_at data-filter-friendly_date>23/10/2019</span>
                                    </summary>
                                    <p>
                                      <span class="badge bg-light text-muted" data-v-order-created_at>23/10/2019</span>
                                      </span>
                                    </p>
                                  </details>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="text-muted">Payment method:</span>
                                </td>
                                <td>
                                  <details>
                                    <summary>
                                      <span>
                                        <span data-v-order-payment_title>Cash On Delivery</span>
                                    </summary>
                                    <p>
                                      <span class="badge bg-light text-muted" data-v-order-payment_method>Cash data-payment_method>Cash-text On Delivery</span>
                                      </span>
                                      <br />
                                      <span data-v-order-payment_description>Flat data-payment_description>Flat-text Shipping Rate</span>
                                      <br />
                                    </p>
                                  </details>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="text-muted">Shipping method:</span>
                                </td>
                                <td>
                                  <details>
                                    <summary>
                                      <span data-v-order-shipping_title>Flat Shipping Rate</span>
                                    </summary>

                                    <p>
                                      <span class="badge bg-light text-muted" data-v-order-shipping_method>Flat data-shipping_method>Flat-text Shipping Rate</span>
                                      </span>
                                      <br />
                                      <span data-v-order-shipping_description>Flat data-shipping_description>Flat-text Shipping Rate</span>
                                      <br />
                                    </p>
                                  </details>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="text-muted">Order Total:</span>
                                </td>
                                <td>
                                  <span data-v-order-total_formatted>$734.28</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="text-muted">Reward points:</span>
                                </td>
                                <td>
                                  <span data-v-order-points>$734.28</span>
                                </td>
                              </tr>
                              <td>
                                <span class="text-muted">Status</span>
                              </td>
                              <td>
                                <span data-v-order-order_status>Pending</span>
                                <!--
				  <select class="form-select">
					<option selected="">Status</option>
					<option value="Success">Success</option>
					<option value="Pending">Pending</option>
					<option value="Cancel">Cancel</option>
				  </select>
				-->
                              </td>
                              </tr>
                            </table>
                            </p>
                          </div>

                        </div>


                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                      <div class="mb-6">
                        <div class="billing_address">
                          <div class="clearfix">
                            <h6 class="float-start">Billing Address</h6>
                          </div>
                          <div class="display mb-1 lh-lg">
                            <div data-v-order-billing_first_name data-billing_first_name-text></div>
                            <div data-v-order-billing_last_name data-billing_last_name-text></div>
                            <div data-v-order-billing_company data-billing_company-text></div>
                            <div data-v-order-billing_address_1 data-billing_address_1-text></div>
                            <div data-v-order-billing_address_2 data-billing_address_2-text></div>
                            <div data-v-order-billing_city data-billing_city-text></div>
                            <div data-v-order-billing_post_code data-billing_post_code-text></div>
                            <div data-v-order-billing_country data-billing_country_id></div>
                            <div data-v-order-billing_region data-billing_region></div>
                            <!--
		<div data-v-order-billing_fields data-billing_fields-text></div>
		-->
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                      <div class="mb-6">
                        <div class="shipping_address">
                          <div class="clearfix">
                            <h6 class="float-start">Shipping Address</h6>
                          </div>
                          <div class="display mb-1 lh-lg">
                            <div data-v-order-shipping_first_name data-shipping_first_name-text></div>
                            <div data-v-order-shipping_last_name data-shipping_last_name-text></div>
                            <div data-v-order-shipping_company data-shipping_company-text></div>
                            <div data-v-order-shipping_address_1 data-shipping_address_1-text></div>
                            <div data-v-order-shipping_address_2 data-shipping_address_2-text></div>
                            <div data-v-order-shipping_city data-shipping_city-text></div>
                            <div data-v-order-shipping_post_code data-shipping_post_code-text></div>
                            <div data-v-order-shipping_country data-shipping_country_id-text></div>
                            <div data-v-order-shipping_region data-shipping_region_id-text></div>
                            <!--
		<div data-v-order-shipping_fields data-shipping_fields-text></div>
		-->
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-8 mx-auto">
          <div class="card card-default mt-4">

            <div class="card-header bg-body p-5 pb-2">
              <h1 class="mb-1 h2 fw-bold">Order tracking</h1>
              <p class="text-muted">Please fill the form below to search for your order.</p>

              <div class="notifications" data-v-notifications>

                <div class="alert alert-danger d-flex alert-dismissable" role="alert" data-v-notification-error data-v-type="return">

                  <div class="icon align-middle me-2">
                    <i class="align-middle la la-2x lh-1 la-exclamation-triangle"></i>
                  </div>

                  <div class="flex-grow-1 align-self-center text-small">
                    <div>
                      <div data-v-notification-text>
                        This is a placeholder for a notification message.
                      </div>
                    </div>
                  </div>


                  <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                      <!-- <i class="la la-times"></i> -->
                    </span>
                  </button>
                </div>

                <div class="alert alert-success d-flex  alert-dismissable d-flex" role="alert" data-v-notification-success data-v-type="return">

                  <div class="icon align-middle me-2">
                    <i class="align-middle la la-2x lh-1 la-check-circle"></i>
                  </div>

                  <div class="flex-grow-1 align-self-center align-middle" data-v-notification-text>
                    This is a placeholder for a success message.
                  </div>

                  <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                      <!-- <i class="la la-times"></i> -->
                    </span>
                  </button>
                </div>

                <div class="alert alert-primary d-flex alert-dismissable d-flex" role="alert" data-v-notification-info data-v-type="return">

                  <div class="icon align-middle me-2">
                    <i class="align-middle la la-2x lh-1  la-info-circle"></i>
                  </div>

                  <div class="flex-grow-1 align-self-center" data-v-notification-text>
                    This is a placeholder for a info message.
                  </div>

                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                      <!-- <i class="la la-times"></i> -->
                    </span>
                  </button>
                </div>

              </div>

            </div>
            <div class="card-body p-4">

              <form action method="post" enctype="multipart/form-data">

                <input type="hidden" name="csrf" data-v-csrf>
                <input type="hidden" name="action" value="order">

                <div class="login-form col-12 mx-auto">

                  <div class="row mb-3">
                    <label class="col-4 col-form-label" for="input-email">E-Mail Address</label>
                    <div class="col-8">
                      <input type="email" name="email" value placeholder="E-Mail Address" id="input-email" class="form-control" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-4 col-form-label" for="customer-order-id">Order id</label>
                    <div class="col-8">

                      <input type="text" minlength="4" autocorrect="off" class="form-control" placeholder="Order id" id="customer-order-id" name="customer_order_id" value="" aria-label="Order id" required>
                    </div>
                  </div>

                  <div class="text-end">

                    <button type="submit" name="login" value="Login" class="btn btn-primary">

                      <span class="loading d-none">
                        <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                        </span>
                        <span>Checking</span>...
                      </span>

                      <span class="button-text">
                        <span>Submit</span>
                        <i class="la la-arrow-right float-end ms-2"></i>
                      </span>

                    </button>

                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer data-v-save-global="index.html,footer">
    <div class="container">
      <div class="navbar-brand logo" data-v-component-site>
        <!-- <a class="navbar-brand" href="/" data-url data-v-url-params='{"host":"www.*.*"}'><span class="visually-hidden">Logo</span> -->
        <a class="navbar-brand h4 mb-0 text-decoration-none" href="/" data-v-site-url>
          <span class="visually-hidden">Logo</span>
          <img src="img/logo.png" alt="Site logo" loading="lazy" class="logo-default" data-v-site-logo>
          <img src="img/logo.png" alt="Site logo sticky" loading="lazy" class="logo-sticky" data-v-site-logo-sticky>
          <img src="img/logo-white.png" alt="Site logo dark" loading="lazy" class="logo-default-dark" data-v-site-logo-dark>
          <img src="img/logo-white.png" alt="Site logo dark sticky" loading="lazy" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky>
        </a>
      </div>

      <ul class="footer-nav">

        <li>
          <a href="/about">About</a>
        </li>

        <li>
          <a href="/page/services">Services</a>
        </li>

        <li>
          <a href="#projects">Projects</a>
        </li>

      </ul>

      <div class="social-links">

        <a href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>

        <a href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>

        <a href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>

        <a href="#">
          <ion-icon name="logo-pinterest"></ion-icon>
        </a>

      </div>

    </div>
  </footer>

  <!--
    - custom script
  -->

  <script>

    // navbar variable

    const nav = document.querySelector(".navbar-nav");
    const navToggleBtn = document.querySelector(".nav-toggle-btn");
    const navLinks = document.querySelectorAll(".nav-link");

    // navbar toggle function
    const navToggleFunc = function () {
      nav.classList.toggle('active');
      navToggleBtn.classList.toggle('active');
    }

    navToggleBtn.addEventListener('click', navToggleFunc);

    for (let i = 0; i < navLinks.length; i++) {

      navLinks[i].addEventListener('click', navToggleFunc);

    }

  </script>



  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



  <div class="alert alert-light alert-dismissible fade alert-top" role="alert" style="display:none">
    <div class="container">

      <div class="message">
        Product was added to cart.
      </div>


      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">

          <form action="/search" method="get">
            <input type="hidden" name="route" value="search">
            <div class="input-group">
              <input type="search" name="search" class="form-control" id="headerSearch" placeholder="Type for search" data-v-vvveb-action="search" data-selector=".search-results" data-v-vvveb-on="keyup">
              <button class="btn btn-outline-primary border" type="submit" title="Search">
                <div class="la-flip-horizontal">
                  <i class="la la-search la-lg" aria-hidden="true"></i>
                </div>
              </button>
            </div>
          </form>

          <div class="search-results">

          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="page-loading-status" class="progress top-0 position-fixed progress-bar" role="progressbar" aria-label="Page loading status" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="z-index: 10;--bs-progress-bg: transparent;--bs-progress-height: 1px;width:0%"></div>


  <script id="app-js" src="/js/app.js"></script>
  <script id="theme-js" src="/js/app/theme.js"></script>
  <script id="cart-js" src="/js/app/cart.js"></script>


</body>

</html>