#cart-container .cart-right-column > .card {
  position: sticky;
  top: 100px; }

.cart-table th {
  /*color:$gray-600;*/
  font-size: 85%;
  font-weight: 500;
  padding: 0.5rem 1.5rem; }

.cart-table td strong {
  /*color:$gray-600;*/
  font-size: 85%; }

.cart-table tr:last-child td {
  border-width: 0; }

.cart-table .price {
  font-size: 85%;
  color: rgba(var(--bs-body-color-rgb), 0.85); }

.cart-table .option, .cart-table .subscription {
  margin-top: 0.5rem;
  font-size: 80%;
  color: var(--bs-secondary); }

.mini-cart .cart-table {
  font-size: 14px; }

.btn-remove {
  color: var(--bs-secondary-color); }
  .btn-remove i {
    color: var(--bs-danger-border-subtle); }
  .btn-remove:hover {
    color: var(--bs-danger); }
    .btn-remove:hover i {
      visibility: visible;
      color: var(--bs-danger); }

.quantity {
  font-size: 85%;
  display: inline-block; }
  .quantity .input-group {
    border: 1px solid var(--bs-border-color);
    border: 1px solid var(--bs-light-border-subtle);
    border-radius: 4px; }
    .quantity .input-group input.form-control[type=number] {
      width: 2rem;
      border: none;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      -webkit-appearance: none;
      appearance: none;
      -moz-appearance: textfield;
      box-shadow: none;
      background: transparent; }
      .quantity .input-group input.form-control[type=number]:focus {
        outline: none; }
      .quantity .input-group input.form-control[type=number]::-webkit-inner-spin-button, .quantity .input-group input.form-control[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none; }
    .quantity .input-group .btn {
      border: none;
      background: var(--bs-body-bg-color);
      font-weight: bold; }
      .quantity .input-group .btn:hover {
        background: var(--bs-light);
        color: var(--bs-link-color); }
      .quantity .input-group .btn i {
        vertical-align: middle;
        line-height: var(--bs-btn-line-height); }
      .quantity .input-group .btn.btn-sm i {
        line-height: 2; }

.cart-total td {
  font-weight: 500; }

.cart-box > div > .table-responsive,
.checkout-page [data-v-component-cart] > .table-responsive {
  max-height: 250px;
  overflow-y: auto; }
